@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
    font-family: 'Adonide';
    src: url('../fonts/adonide-medium.woff2') format('woff2'),
    url('../fonts/adonide-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adonide';
    src: url('../fonts/adonide-bold.woff2') format('woff2'),
    url('../fonts/adonide-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
