{% import "partials.macro.blocks" as blocks %}
{% import "partials.macro.misc" as misc %}

{% set context = 'home' %}
{% set bodyClass = 'home' %}

{% extends 'layout.main' %}

{% block custom_head_assets %}
    <link rel="stylesheet" href="{{ mix('assets/css/somoney-annuaire-main.css') }}" media="screen" charset="utf-8">
    <!--[if lte IE 9 ]>
    <script src="{{ mix('assets/js/somoney-annuaire-ie-support.js') }}"></script>
    <![endif]-->

    <link rel="dns-prefetch" href="//b.basemaps.cartocdn.com">
    <link rel="prefetch" href="/recherche">
    <link rel="prefetch" href="/bons-plans">

    <link rel="prerender" href="/recherche">
{% endblock %}

{% block content %}
    <div class="headband {{ headband_class | default('headband--default') }}">
        <div class="headband-bkg"></div>
        <div class="content">
            {% block headband_content %}
                <h1>{{ config('somoney.title.home') }}</h1>
                <div class="search-band">
                    <form class="form-group ui-front" action="{{ route('companies.map') }}">
                        <input type="hidden" name="init" value="true"/>
                        <i class="basic-search hidden-xs"></i>
                        <input class="form-control input-search-band"
                               type="text"
                               name="q"
                               value=""
                               placeholder="{{ config('somoney.label.home.search') }}">
                        <input type="hidden" name="search" value="1">
                        <button class="btn btn-search-band" type="submit">
                            <span class="hidden-xs">Rechercher</span><span><i class="basic-search visible-xs u-white"></i></span>
                        </button>
                    </form>
                </div>

                {{ misc.separator_with_word("Rechercher par rubrique", "landing-separator") }}

                <div class="btn-group">
                    <div class="btn-container btn-container-left">
                        <a href="{{ route('home.individuals') }}"
                           class="btn-default btn-rounded btn-rounded--public"
                           title="Découvrir les membres {{ config('somoney.money') }} s'adressant aux particuliers">
                            {{ config('somoney.label.home.links.individual') }}
                        </a>
                    </div>
                    <div class="btn-container btn-container-right">
                        <a href="{{ route('home.professionals') }}"
                           class="btn-default btn-rounded btn-rounded--pro"
                           title="Découvrir les membres {{ config('somoney.money') }} s'adressant aux professionnels">
                            {{ config('somoney.label.home.links.professional') }}
                        </a>
                    </div>
                </div>

                {% if association or accommodation %}
                    <div class="btn-group">
                        {% if association %}
                            <div class="btn-container btn-container-left">
                                <a href="{{ route('companies.map',{category_slug: association.slug, init: true}) }}"
                                   class="btn-default btn-rounded"
                                   title="Découvrir les associations membre de {{ config('somoney.money') }}">
                                    {{ config('somoney.label.home.links.association') }}
                                </a>
                            </div>
                        {% endif %}
                        {% if accommodation %}
                            <div class="btn-container btn-container-right">
                                <a href="{{ route('companies.map',{category_slug: accommodation.slug, init: true}) }}"
                                   class="btn-default btn-rounded"
                                   title="Découvrir les hébergements membre de {{ config('somoney.money') }}">
                                    {{ config('somoney.label.home.links.accommodation') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
            <div class="arrow-down">
                <i class="basic-simply-down"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <section class="landing-infos">
            <article class="landing-deals">
                <h2>Les bons plans du moment</h2>
                {{ misc.separator_with_icon("basic-tag", "landing-separator") }}
                {% if deal %}
                    {{ blocks.card_teaser_deal("card-last-deal" ~ i, deal, i) }}
                {% endif %}
                <a class="more"
                   href="{{ route('deals.map',{init: true}) }}"
                   title="Découvrir les bons plans des membres de la {{ config('somoney.money') }}">
                    <i class="basic-simply-right"></i> Voir tous les bons plans
                </a>
                <hr>
            </article>
            <article class="landing-companies">
                <h2>Les derniers adhérents</h2>
                {{ misc.separator_with_icon("icon-user", "landing-separator") }}
                {% for company in companies | slice(0, 3) %}
                    {{ blocks.company_result_panel(company) }}
                {% endfor %}
                <a class="more"
                   href="{{ route('companies.map') }}"
                   title="Découvrir tous les membres de la {{ config('somoney.money') }}">
                    <i class="basic-simply-right"></i>
                    Voir tous les adhérents
                </a>
                <hr>
            </article>
            <article class="landing-companies">
                <h2>Nos réseaux sociaux</h2>
                {{ misc.separator_with_icon("icon-user", "landing-separator") }}
                <div class="social-part">
                    <!--Social nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        {% if config('somoney.url.facebook') %}
                            <li role="presentation" class="active facebook-tab">
                                <a href="#facebook-pane" role="tab" data-toggle="tab">
                                    <span class="basic-facebook"></span>Facebook
                                </a>
                            </li>
                        {% endif %}
                        {% if config('somoney.url.twitter') %}
                            <li role="presentation"
                                class="{{ not config('somoney.url.facebook') ? 'active ' : '' }}twitter-tab">
                                <a href="#twitter-pane" role="tab" data-toggle="tab"><span class="basic-twitter"></span>Twitter
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% if config('somoney.url.facebook') %}
                            <div role="tabpanel" class="tab-pane active" id="facebook-pane">
                                <div class="fb-page"
                                     data-href="{{ config('somoney.url.facebook') }}"
                                     data-small-header="false"
                                     data-adapt-container-width="true"
                                     data-hide-cover="true"
                                     data-show-facepile="false"
                                     data-width="300"
                                     data-height="480"
                                     data-show-posts="true"
                                     data-hide-ctabisous="true">
                                    <div class="fb-xfbml-parse-ignore">
                                        <blockquote cite="{{ config('somoney.url.facebook') }}">
                                            <a href="{{ config('somoney.url.facebook') }}">{{ config('somoney.money') }}</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if config('somoney.url.twitter') %}
                            <div role="tabpanel" class="tab-pane" id="twitter-pane">
                                <a class="twitter-timeline"
                                   data-link-color="#00a3b4"
                                   href="{{ config('somoney.url.twitter') }}">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}
