{% extends 'templates.home.default' %}

{% set headband_class = 'headband--pro' %}

{% block headband_content %}
    <h1>Sélectionnez un type de prestation</h1>
    <div class="links-grid__5">
        {% for category in categories %}
            <article>
                <a href="{{ route('companies.grid', {category_slug: category.slug, init: true}) }}"
                   class="headband-links">
                    <div class="headband-links__picto {{ config('somoney.categories.icons.'~category.slug, 'icon-tag') }}"></div>
                    <div class="headband-links__title">{{ category.name }}</div>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
