{% import "partials.macro.inputs" as inputs %}
{% import "partials.macro.blocks" as blocks %}

<section>

    <h2 class="title-content">Blocks & Cards</h2>
    <br>

    <div class="result-card-example col-sm-12">
        <h2>Headband</h2>
        <div class="bs-example">
            {{ blocks.hero_bloc() }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    blocks.hero_bloc()
                </code>
            </pre>
        </div>
    </div>

    <div class="result-card-example col-sm-12">
        <h2>Result panel</h2>
        <div class="bs-example">
            <div style="width: 460px;">
                {{ blocks.result_panel("result-panel--pro", "La vape de l'île", "Magasin de cigarettes", "11 bis quai de turennes - 44300 nantes", "Boutique pour les vapoteurs et vapoteuses de Nantes", "bons-plans/bgourmet.jpg") }}
                {{ blocks.result_panel("result-panel--public", "B gourmet", "Foodtruck", "1 rue du marché commun - 44300 nantes", "B-Gourmet, c'est votre foodtruck 100% frais. Des Burgers &amp; Bagels revisités à la française.", "bons-plans/bgourmet.jpg") }}
            </div>
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    //generic
                    blocks.result_panel(panelClass, panelName, subtitle, address, description, img )

                    //first example
                    blocks.result_panel("result-panel--pro", "La vape de l'île", "Magasin de cigarettes", "11 bis quai
                    de turennes - 44300 nantes", "Boutique pour les vapoteurs et vapoteuses de Nantes",
                    "bons-plans/bgourmet.jpg" )

                    //second example
                    blocks.result_panel("result-panel--public", "B gourmet", "Foodtruck", "1 rue du marché commun -
                    44300 nantes", "B-Gourmet, c'est votre foodtruck 100% frais. Des Burgers &amp; Bagels revisités à la
                    française.", "bons-plans/bgourmet.jpg" )
                </code>
            </pre>
        </div>
    </div>

    <div class="search-bloc-example col-sm-12">
        <h2>Search bloc</h2>
        <div class="bs-example">
            {{ blocks.bloc_back_explore() }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    blocks.bloc_back_explore()
                </code>
            </pre>
        </div>
    </div>

    <div class="card-example col-sm-12">
        <div class="bs-example">
            <div class="card-teaser-container">
                {{ blocks.cards_teaser("card-teaser", companies) }}
            </div>
        </div>
        <div class="highlight">
            <pre>
                <code class="language-html" data-lang="html">
                    &lt;div class="card-teaser-container"&gt;
                    blocks.cards_teaser(id, collection, index, optionClass)
                    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="bs-dark-background bs-example">
            {% for company in companies %}
                {{ blocks.cards_basic("card-basic" ~ loop.index , company) }}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    blocks.cards_basic("id", objet/collection, "optionClass")
                </code>
            </pre>
        </div>
    </div>

    <div class="carousel-example-basic col-sm-12">
        <div class="bs-example">
            {{ blocks.deal_viewer("deal-viewer", companies[0]) }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    blocks.deal_viewer("deal-viewer", companies[0])
                </code>
            </pre>
        </div>
    </div>

</section>
