{% import "partials.macro.buttons" as buttons %}

<section>

    <h2 class="title-content">Buttons</h2>
    <br>

    <div class="button-example col-sm-12">
        <h2>Basic buttons</h2>
        <div class="bs-example">
            {{ buttons.button("btn-public", "Je suis un particulier") }}
            {{ buttons.button("btn-pro", "Je suis un professionnel") }}
            {{ buttons.button("btn-small btn-deal", "Rechercher") }}
            {{ buttons.button("btn-small btn-adherent", "Rechercher") }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    buttons.button("btn-public", "Je suis un particulier")
                    buttons.button("btn-pro", "Je suis un professionnel")
                    buttons.button("btn-small btn-deal", "Rechercher")
                    buttons.button("btn-small btn-adherent", "Rechercher")
                </code>
            </pre>
        </div>
    </div>
    <br>

    <div class="button-example col-sm-6">
        <h2>Squared button</h2>
        <div class="bs-example">
            {{ buttons.button_squared("basic-printer", optionClass) }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    buttons.button_squared("basic-printer", optionClass)
                </code>
            </pre>
        </div>
    </div>

    <div class="button-example col-sm-6">
        <h2>Switch</h2>
        <div class="bs-example">
            {{ buttons.switch("explore-map-container", "explore-grid-container") }}
            <br>
            {{ buttons.switch("explore-map-container", "explore-grid-container", "switch-deal") }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    buttons.switch(firstTarget, secondTarget)
                    buttons.switch("explore-map-container", "explore-grid-container", "switch-deal")
                </code>
            </pre>
        </div>
    </div>

    <!-- <div class="button-example col-sm-6">
        <div class="bs-example">
            <div class="map-buttons">
                <button type="button" class="map-zoom"><i class="basic-plus"></i></button><br>
                <button type="button" class="map-dezoom"><i class="basic-minus"></i></button>
            </div>
        </div>
        <div class="highlight">
            <pre>
                <code class="language-html" data-lang="html">
    &lt;div class="map-buttons"&gt;
        &lt;button class="map-zoom"&gt;&lt;i class="basic-plus"&gt;&lt;/i&gt;&lt;/button&gt;&lt;br&gt;
        &lt;button class="map-dezoom"&gt;&lt;i class="basic-minus"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;/div&gt;
                </code>
            </pre>
        </div>
    </div> -->

    <div class="button-example col-sm-6">
        <h2>Tag buttons</h2>
        <div class="bs-example">
            {{ buttons.tag('category-tag') }}
            {{ buttons.tag('description-tag') }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    buttons.tag('category-tag')
                    buttons.tag('description-tag')
                </code>
            </pre>
        </div>
    </div>

</section>
