{% import "partials.macro.interactive" as interactive %}

<section>

	<h2>Carousel</h2>
	<div class="carousel-example col-sm-12">
		<div class="bs-example">
			<div class="container">
				{{ interactive.carousel_deal_landing("carousel1", companies, "deal-landing") }}
			</div>
		</div>
	</div>
	<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
interactive.carousel_deal_landing("carousel1", companies, "deal-landing")
			</code>
		</pre>
	</div>

<h2>Image Viewer</h2>
<br>
	<div class="carousel-example col-sm-12">
		<div class="bs-example">
			{{ interactive.carousel_image_viewer("carousel3", companies[0]) }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
interactive.carousel_image_viewer("carousel3", companies[0])
				</code>
			</pre>
		</div>
	</div>

</section>
