<footer>
    <div class="signature">
        &copy; {{ config('somoney.money') }} {{ "now"|date('Y') }} -
        <a href="{{ config('somoney.url.legalNotice') }}"
           title="Accéder aux mentions légales {{ config('somoney.money') }}">
            Mentions légales
        </a>
    </div>
</footer>
