<nav class="c-header">
    <div class="c-header__head u-justify">
        <div class="u-hide-up u-vertical-middle u-inline-block c-header__nav">
            <button type="button"
                    class="c-btn-badge c-btn-badge--icon c-btn-badge--navbar collapsed js-singleCollapseBtn"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-expanded="false"
                    aria-controls="navbar-collapse">
                <span class="icon-menu c-icon c-icon--collapsed"></span>
                <span class="icon-cross c-icon c-icon--uncollapsed"></span>
            </button>
        </div>
        <a href="{{ getProtocol() ~ config('somoney.domain.landing') }}"
           title="Accueil"
           class="c-logo u-vertical-middle u-inline-block">
            <div class="u-hide-down">
                <img src="{{ asset('assets/img/logo.svg') }}" alt="" style="height: 80px;">
            </div>
            <div class="u-hide-up">
                <img src="{{ asset('assets/img/logo-mobile.svg') }}" alt="" style="height: 40px;">
            </div>
        </a>
        <div class="u-hide-up u-vertical-middle u-inline-block">
            <button type="button"
                    class="c-btn-badge c-btn-badge--icon c-btn-badge--navbar collapsed js-singleCollapseBtn"
                    data-toggle="collapse"
                    data-target="#user-collapse"
                    aria-expanded="false"
                    aria-controls="user-collapse">
                <span class="icon-user c-icon c-icon--collapsed"></span>
                <span class="icon-cross c-icon c-icon--uncollapsed"></span>
            </button>
        </div>
    </div>

    <div class="c-header__dropdown collapse js-singleCollapse" id="navbar-collapse">
        <ul class="c-navbar">
            {% for item in navbar %}
                <li>
                    <a href="{{ item.url }}" class="c-link">{{ item.name }}</a>
                </li>
            {% endfor %}
            <li class="u-hide-down u-vertical-separator u-pd-left">
                <a href="{{ getProtocol() ~ config('somoney.domain.account') }}/connexion" class="c-link">se connecter</a>
            </li>

            {% if config('somoney.available.services.register') %}
                {% set registeringUrl = getProtocol() ~ config('somoney.domain.account') ~ '/inscription' %}
                <li class="u-hide-down">
                    <a href="{{ config('somoney.custom-url.services.register',registeringUrl) }}"
                       class="c-btn c-btn--stroke c-btn--primary c-btn--squeeze">
                        S'inscrire
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="c-header__dropdown collapse u-hide-up u-bg-main js-singleCollapse" id="user-collapse">
        <ul class="c-navbar">
            <li class="u-hide-up">
                <a href="{{ getProtocol() ~ config('somoney.domain.account') }}/connexion" class="c-link">se connecter</a>
            </li>

            {% if not config('somoney.available.services.register') %}
                <li class="u-hide-up">
                    <a href="{{ config('somoney.custom-url.services.register',registeringUrl) }}"
                       class="c-link">
                        S'inscrire
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
