{% import "partials.macro.inputs" as inputs %}

<section>

	<h2 class="title-content">Inputs</h2><br>

	<div class="input-example col-sm-6">
		<h2>Basic input</h2>
		<div class="bs-example">
			{{ inputs.basic_input("Label", "placeholder") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
inputs.basic_input("Label", "placeholder")
				</code>
			</pre>
		</div>
	</div>

	<div class="input-example col-sm-6">
		<h2>Search input</h2>
		<div class="bs-example">
{{ inputs.search_input("Ex: Boulangerie à proximité de Bouffay") }}

{{ inputs.search_input("Ex: Boulangerie à proximité de Bouffay", "Foodtruck") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
// Generic macro
inputs.search_input(placeholder, value, isDisabled)

// Basic example
inputs.search_input("Ex: Boulangerie à proximité de Bouffay")

// Search running example
inputs.search_input("Ex: Boulangerie à proximité de Bouffay", "Foodtruck")
				</code>
			</pre>
		</div>
	</div>

	<div class="select-example col-sm-6">
		<h2>Basic select</h2>
		<div class="bs-example">
			{{ inputs.basic_select("Catégorie") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
inputs.basic_select("Catégorie")
				</code>
			</pre>
		</div>
	</div>

	<div class="small-select-example col-sm-6">
		<h2>Small select</h2>
		<div class="bs-example">
			{{ inputs.small_select("Trier par pertinence") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
inputs.small_select("Trier par pertinence")
				</code>
			</pre>
		</div>
	</div>

	<div class="radio-example col-sm-6">
		<h2>Radio input</h2>
		<div class="bs-example">
			{{ inputs.radio_input("Bons plans", "Adhérents proposants des bons plans") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
inputs.radio_input("Bons plans", "Adhérents proposants des bons plans")
				</code>
			</pre>
		</div>
	</div>

	<div class="button-example col-sm-6">
		<h2 class="title-content">Slider Range</h2>
		<div class="bs-example">
			{{ inputs.slider_range("slider-range1", "directory-search") }}
			<br>
			{{ inputs.slider_range("slider-range2", "deal-search") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
inputs.slider_range("slider-range1", "directory-search")
inputs.slider_range("slider-range2", "deal-search")
				</code>
			</pre>
		</div>
	</div>



</section>
