{% import "partials.macro.interactive" as interactive %}

<section>

    <h2 class="title-content">Interactive components</h2>
    <br>

    <div class="map-example col-sm-6">
        <h2>Map</h2>
        <div class="bs-example">
            <iframe src="map" width="100%" height="600" frameborder="0"></iframe>
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    //In the .html, set the markup :
                    interactive.map("map")

                    //In the .js, manage the markers (lat and long) & the icons :
                    var marker = L.marker([47.218, -1.55], {icon: markerAdherent}).addTo(map);

                </code>
            </pre>
        </div>
    </div>

    <div class="map-example col-sm-6">
        <h2>Pagination</h2>
        <div class="bs-example">
            {{ interactive.pagination("light", "adherent") }}
            {{ interactive.pagination("dark", "adherent") }}
            {{ interactive.pagination("dark", "deal") }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">

                    interactive.pagination("light", "adherent")

                    interactive.pagination("dark", "adherent")

                    interactive.pagination("dark", "deal")

                </code>
            </pre>
        </div>
    </div>

    <div class="map-example col-sm-6">
        <h2>Badge pionnier</h2>
        <div class="bs-example">
            {{ interactive.badge_with_tooltip() }}
        </div>
        <div class="highlight">
            <pre>
                <code class="language-js" data-lang="js">
                    interactive.badge_with_tooltip()
                </code>
            </pre>
        </div>
    </div>

</section>
