{% import "partials.macro.misc" as misc %}

<section>

	<h2 class="title-content">Misc</h2><br>

	<div class="input-example col-sm-6">
		<h2>Horizontal rule</h2>
		<div class="bs-example">
			<hr>
			<br>
			{{ misc.separator_with_icon("basic-tag") }}
		</div>
		<div class="highlight">
			<pre>
				<code class="language-js" data-lang="js">
&lt;hr&gt;

misc.separator_with_icon("basic-tag")
				</code>
			</pre>
		</div>
	</div>

</section>
