{% import "partials.macro.inputs" as inputs %}
{% import "partials.macro.buttons" as buttons %}

<form action="{{ form_route }}" method="GET" class="search-form">
    <h1 class="h3">{{ panel_title }}</h1>
    {{ inputs.search_input("Ex: imprimeur, boulangerie...", filters.q | default('')) }}
    {{ inputs.basic_select('SearchCategoryId', 'Catégories', 'category_slug', categories, 'slug', 'name', filters.category_slug, 'Toutes les catégories') }}
    {{ inputs.basic_select('select-range', 'Dans un rayon de...', 'radius', [{value: '1km', title: '1 km'}, {value: '2km', title: '2 km'}, {value: '5km', title: '5 km'}, {value: '10km', title: '10 km'}], 'value', 'title', filters.geo_distance.distance,null, 'u-hide') }}
    {% if context == 'companies' %}
        {{ inputs.radio_input("Adhérents proposants des bons plans", 'has_deals', filters.has_deals | default(false)) }}
    {% endif %}
    {{ buttons.button("btn-small btn-adherent btn-search u-hide", "Effacer ma localisation", "button", 'erase-geolocation','','btn-erase-geolocation') }}
    {{ buttons.button("btn-small btn-adherent btn-search", "Rechercher", "submit", 'search') }}
    <input id="geolocation-lat"
           type="hidden"
           data-default-value="{{ filters.geo_distance.location.lat | default(config('somoney.map.center.lat')) }}"
           value="{{ filters.geo_distance.location.lat | default(config('somoney.map.center.lat')) }}"
    >
    <input id="geolocation-lng"
           type="hidden"
           data-default-value="{{ filters.geo_distance.location.lon | default(config('somoney.map.center.lng')) }}"
           value="{{ filters.geo_distance.location.lon | default(config('somoney.map.center.lng')) }}"
    >
</form>