<section>
	
	<h2 class="title-content">Typography</h2><br>

	<div class="typo-example col-sm-12">
		<div class="bs-dark-background bs-example">
			<h1>Header 1 - Lorem ipsum dolor sit amet</h1>
			<span class="lead">.lead - Lorem ipsum dolor sit amet</span>
		</div>
		<div class="highlight">
			<pre>
				<code class="language-html" data-lang="html">
&lt;h1&gt;Header 1 - Lorem ipsum dolor sit amet&lt;/h1&gt;
&lt;span class="lead"&gt;.lead - Lorem ipsum dolor sit amet&lt;/span&gt;
				</code>
			</pre>
		</div>
	</div>

	<div class="typo-example col-sm-6">
		<div class="bs-example">
			<h1 class="title-content border">h1.title-content-h1.border <span class="subtitle">(span.subtitle)</span></h1>
		</div>
		<div class="highlight">
			<pre>
				<code class="language-html" data-lang="html">
&lt;h1 class="title-content border"&gt;h1.title-content-h1.border &lt;span class="subtitle"&gt;(span.subtitle)&lt;/span&gt;&lt;/h1&gt;
				</code>
			</pre>
		</div>
	</div>
	<div class="typo-example col-sm-6">
		<div class="bs-example">
			<h2 class="title-content border">h2.title-content-h2.border</h2>
		</div>
		<div class="highlight">
			<pre>
				<code class="language-html" data-lang="html">
&lt;h2 class="title-content border"&gt;h2.title-content-h2.border&lt;/h2&gt;
				</code>
			</pre>
		</div>
	</div>

	<div class="typo-example col-sm-12">
		<div class="bs-example">
			<h2>Header 2 - Lorem ipsum dolor sit amet</h2>
			<p>p - Lorem ipsum dolor sit amet</p>
			<a href="#">Link - Lorem ipsum dolor sit amet</a><br>
			<p class="results-indicator"><span class="big-number">16 </span> Lorem ipsum dolor sit amet</p>
		</div>
		<div class="highlight">
			<pre>
				<code class="language-html" data-lang="html">
&lt;h2&gt;Header 2 - Lorem ipsum dolor sit amet&lt;/h2&gt;
&lt;p&gt;p - Lorem ipsum dolor sit amet&lt;/p&gt;
&lt;a href="#"&gt;Link - Lorem ipsum dolor sit amet&lt;/a&gt;
&lt;p class="results-indicator"&gt;&lt;span class="big-number"&gt;16 &lt;/span&gt; Lorem ipsum dolor sit amet&lt;/p&gt;
				</code>
			</pre>
		</div>
	</div>
</section>
