//# ------------------------
//# Special colors
//# ------------------------
$red: #e43439;
$green: #4caf50;
$blue: #00a3b3;

$primary: #0099a8;
$secondary: #c9d104;
$tertiary: #005f7f;

//# ------------------------
//# Brand colors
//# ------------------------

$business: #0099a8; // professional
$customer: #c9d104; // individual
$admin: #005f7f;

//# ------------------------
//# Font
//# ------------------------
$font-sans-serif: Dosis, Arial, Helvetica, sans-serif;
$font-base: Open Sans, Arial, Helvetica, sans-serif;
