<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Badge {{ config('somoney.money') }}</title>
        <style>
            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            html, body, a, p, span, img {
                margin: 0;
                padding: 0;
                border: 0;
            }

            html, body {
                height: 100%;
                background: transparent;
            }

            a {
                display: block;
                padding-bottom: 10px;
                background: #fff;
                text-align: center;
                padding: 15px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 1px solid #aeaeae;
                box-shadow: 0 0 10px 0 #aeaeae;
                -webkit-box-shadow: 0 0 10px 0 #aeaeae;
            }

            .circle a {
                border-radius: 50%;
            }

            .position-right {
                margin: 10px -5px 10px 10px;
            }

            .position-left {
                margin: 10px 10px 10px -5px;
            }

            .logo-large {
                width: 100%;
                max-width: 220px;
                max-height: 195px;
            }

            .logo-medium {
                width: 100%;
                max-width: 125px;
                max-height: 155px;
            }

            .logo-small {
                width: 100%;
                max-width: 90px;
                max-height: 90px;
            }
        </style>
    </head>
    <body>
        <div class="position-{% if position == 'left' %}left{% else %}right{% endif %} {% if type == 'small' %}circle{% endif %}">
            <a href="{{ route('company', [company.slug]) }}" target="_blank">
                {% if type == 'large' %}
                    <img src="{{ asset('assets/img/badge/badge-large.png') }}"
                         alt="Logo {{ config('somoney.money') }}"
                         class="logo-large">
                {% elseif (type | default('medium')) == 'medium' %}
                    <img src="{{ asset('assets/img/badge/badge-medium.png') }}"
                         alt="Logo {{ config('somoney.money') }}"
                         class="logo-medium">
                {% elseif type == 'small' %}
                    <img src="{{ asset('assets/img/badge/badge-small.png') }}"
                         alt="Logo {{ config('somoney.money') }}"
                         class="logo-small">
                {% endif %}
            </a>
        </div>
    </body>
</html>
