{% import "partials.macro.inputs" as inputs %}
{% import "partials.macro.buttons" as buttons %}
{% import "partials.macro.blocks" as blocks %}
{% import "partials.macro.interactive" as interactive %}

{% extends 'layout.widget' %}

{% set title = config('somoney.money')~" - Annuaire des membres de la monnaie locale "~config('somoney.occupant') %}
{% set description = "Découvrez l'ensemble des entreprises acceptant la monnaie locale comme moyen de paiement." %}
{% set context = 'companies' %}
{% set form_route = route('widget.map') %}
{% set panel_title = 'Recherchez un adhérent' %}

{% block content %}
    <div class="view-explore-widget">
        <div class="widget-logo-container">
            <a href="{{ route('home') }}" target="_blank">
                <img alt="Logo de la monnaie locale {{ config('somoney.occupant') }} {{ config('somoney.money') }}"
                     src="{{ asset('assets/img/logo/logo_map.png') }}"
                     class="widget-logo">
            </a>
        </div>

        {% if enableSearch or hasSearch %}
            <div class="search-container {{ hasSearch ? 'search-container--extended-results-open search-container--open' : 'search-container--extended-search-open' }}">
                <div class="search-background">
                    <button type="button" class="close-search-panel close-search-panel--desktop">
                        <i class="basic-simply-left"></i>
                    </button>

                    <div class="search-bloc search-panel">
                        {% include 'partials.search_form' %}

                        <div class="extended-results">
                            <div class="results-controls">
                                <p class="results-indicator">
                                    <span class="big-number">{{ nbResults }}</span> {{ nbResults == 1 ? 'adhérent trouvé' : 'adhérents trouvés' }}
                                </p>
                            </div>

                            <div class="results-container">
                                <div class="results-list">
                                    {% for company in results[0] %}
                                        {{ blocks.company_result_panel(company) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="tab-content">
            <div role="tabpanel" id="explore-map-panel" class="explore-map-panel tab-pane active">
                <div class="explore-map-container">
                    {{ interactive.map('companies', center, zoom) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
