{% import "partials.macro.inputs" as inputs %}
{% import "partials.macro.buttons" as buttons %}
{% import "partials.macro.blocks" as blocks %}
{% import "partials.macro.interactive" as interactive %}

{% extends 'layout.main' %}

{% block content %}
    <div class="view-explore {{ context == 'deals' ? 'view-deal-explores' : 'view-company-explores' }}{{ mode == 'grid' ? ' view-explore--grid' : '' }}">
        <div class="loading-view">
            <p class="p">Juste une seconde, nous préparons vos résultats...</p>
        </div>

        <div class="tab-content">
            {% if mode == 'map' %}
                <div role="tabpanel" id="explore-map-panel" class="explore-map-panel tab-pane active">
                    <div class="explore-map-container">
                        {{ interactive.map(context, center, config('somoney.map.zoom')) }}
                    </div>
                </div>
            {% elseif mode == 'grid' %}
                <div role="tabpanel" id="explore-grid-panel" class="explore-grid-panel tab-pane active">
                    <div class="explore-grid-bar">
                        <p class="results-indicator">
                            <span class="big-number">{{ nbResults }}</span>
                            {{ nbResults == 1 ? (context == 'deals' ? 'bon-plan trouvé' : 'adhérent trouvé') : (context == 'deals' ? 'bons-plans trouvés' : 'adhérents trouvés') }}
                        </p>
                    </div>

                    {% if results | length == 0 %}
                        <p class="big text-center" style="margin-top:70px; color: white;">
                            Nous n'avons pas trouvé {{ context == 'deals' ? 'de bons-plans' : 'd\'adhérents' }}
                            correspondant à votre recherche.
                        </p>
                    {% endif %}
                    {% block explore_grid %}
                    {% endblock %}

                    <div class="print-only explore-grid-panel_legend">
                        <p><i class="basic-virement"></i>
                            Paiement en ligne via le site {{ config('somoney.money') }} ou sur le site mobile
                        </p>
                        <p><i class="basic-creditcard"></i> Carte {{ config('somoney.money') }}</p>
                        <p><i class="basic-thumbs"></i> Cet adhérent propose des bons plans !</p>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="search-container js-display-results {{ hasSearch and mode == 'map' ? 'open' : '' }}">
            {% include 'partials.search_form' %}

            {% if mode == 'map' %}
                <div class="search-results">
                    <ul class="results-infos">
                        <li class="results-infos__item"><i class="basic-search"></i></li>
                        {% if filters.geo_distance %}
                            <li class="results-infos__item">{{ filters.geo_distance.distance }}</li>
                        {% endif %}
                        {% if filters.has_deals %}
                            <li class="results-infos__item"><i class="basic-thumbs"></i></li>
                        {% endif %}
                    </ul>
                    <div class="results-controls">
                        <button type="button" class="btn-block btn-back js-trigger-results">
                            <i class="basic-simply-left"></i> Retour
                        </button>

                        {% if nbResults > 0 %}
                            <p class="results-indicator">
                                <span class="big-number">{{ nbResults }}</span> {{ nbResults == 1 ? (context == 'deals' ? 'bon-plan trouvé' : 'adhérent trouvé') : (context == 'deals' ? 'bons-plans trouvés' : 'adhérents trouvés') }}
                            </p>
                        {% else %}
                            <div class="no-results">
                                <p class="big text-center">
                                    Nous n'avons pas trouvé {{ context == 'deals' ? 'de bons-plans' : 'd\'adhérents' }}
                                    correspondant à votre recherche.
                                </p>
                                <hr>
                                <p>
                                    <a href="#" class="js-trigger-results">Étendez votre recherche</a>
                                    (zone géographique, secteur d'activité...).
                                </p>
                                <hr>
                                <p>
                                    <a href="{{ config('somoney.url.contact') }}"
                                       title="Accéder au formulaire de contact"
                                       target="_blank">
                                        Proposez-nous un professionnel
                                    </a>
                                    avec qui vous aimeriez échanger des {{ config('somoney.money') }}.
                                </p>
                                <div class="basic-map-signs"></div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="results-container">
                        {% block results_list %}{% endblock %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="input-mobile-map">
            {{ inputs.search_input("Ex: Boulangerie", filters.q | default(''), "js-trigger-results") }}
        </div>

        <div class="explore-controls">
            {% if mode == 'map' %}
                <a class="btn-squared u-center"
                   href="{{ route(context == 'companies' ? 'companies.grid' : 'deals.grid', request().all()) }}">
                    <i class="basic-grid"></i>
                </a>
                {{ buttons.button_squared("basic-location", "button", "Me localiser", "btn-location") }}
            {% elseif mode == 'grid' %}
                <a class="btn-squared u-center"
                   href="{{ route(context == 'companies' ? 'companies.map' : 'deals.map', request().all()) }}">
                    <i class="basic-map"></i>
                </a>
                {# @todo generate PDF #}
                {# <button type="button" #}
                {# class="btn-squared btn-printer" #}
                {# data-toggle="tooltip" #}
                {# data-placement="top" #}
                {# title="Imprimer" #}
                {# onClick="window.print()"> #}
                {# <span class="pdf">PDF</span> #}
                {# </button> #}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block beforeJs %}
    <script type="application/javascript">
        {% if filters %}
        window.searchFilters = '{{ filters | json_encode | raw }}';
        {% endif %}
        {% if results %}
        var resultsData = {{ results | json_encode | raw }};
        {% endif %}
        var money = "{{ config('somoney.money') }}";
    </script>
{% endblock %}
