<!DOCTYPE html>
<html>
    <head>
        {% set title = title|default("Annuaire de "~config('somoney.money')~", la monnaie locale "~config('somoney.occupant')) %}
        {% set description = description|default("Trouvez les professionnels proches de chez vous acceptant la monnaie locale "~config('somoney.occupant')~" "~config('somoney.money')~" et découvrez les bons plans qu\'ils vous réservent !") %}
        {% set keywords = keywords|default(config('somoney.money')~", annuaire "~config('somoney.money')~", membres "~config('somoney.money')~", bons plans "~config('somoney.money')~", où dépenser la "~config('somoney.money')~"") %}
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <link rel="canonical" href="{{ url_current() }}">

        <link rel="icon" type="image/png" href="/assets/img/meta/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/meta/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/meta/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/img/meta/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/img/meta/favicon-196x196.png" sizes="196x196">

        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-57x57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-60x60.png" sizes="60x60">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-72x72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-76x76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-114x114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-120x120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-144x144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-152x152.png" sizes="152x152">

        <meta name="description" content="{{ description }}"/>
        <meta name="keywords" content="{{ keywords }}"/>

        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ url_full() }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ url_full() }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image:src" content="">

        {% block custom_head_assets %}
            <link rel="stylesheet"
                  href="{{ mix('assets/css/somoney-annuaire-main.css') }}"
                  media="screen"
                  charset="utf-8">
            <link rel="stylesheet"
                  href="{{ mix('assets/css/somoney-annuaire-print.css') }}"
                  media="print"
                  charset="utf-8">
            <!--[if lte IE 9 ]>
            <script src="{{ mix('assets/js/somoney-annuaire-ie-support.js') }}"></script>
            <![endif]-->
        {% endblock %}

    </head>

    <body id="top" class="{{ bodyClass }} u-pd-navbar">
        {% include 'partials.header' %}

        {% block content %}
        {% endblock %}

        <a href="#top" class="back-top"><i class="basic-simply-up"></i></a>

        {% block footer %}
            {% include 'partials.footer' %}
        {% endblock %}

        {% block beforeJs %}
        {% endblock %}

        <script src="{{ mix('assets/js/somoney-annuaire-main.js') }}"></script>

        {% if config('services.google.analytics.key') %}
            <script type="text/javascript">
                (
                    function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (
                                i[r].q = i[r].q || []
                            ).push(arguments);
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m);
                    }
                )(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', '{{ config('services.google.analytics.key') }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <script type="text/javascript">
            var $buoop = {vs: {i: 8, f: 20, o: 17, s: 6}, reminder: 0};
            $buoop.ol = window.onload;
            window.onload = function () {
                try {
                    if ($buoop.ol) $buoop.ol();
                } catch (e) {
                }
                var e = document.createElement('script');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src', '//browser-update.org/update.js');
                document.body.appendChild(e);
            };
        </script>

        <!-- Hotjar Tracking Code -->
        <script>
            (
                function (h, o, t, j, a, r) {
                    h.hj = h.hj || function () {
                        (
                            h.hj.q = h.hj.q || []
                        ).push(arguments);
                    };
                    h._hjSettings = {hjid: 389812, hjsv: 5};
                    a = o.getElementsByTagName('head')[0];
                    r = o.createElement('script');
                    r.async = 1;
                    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                    a.appendChild(r);
                }
            )(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>

        {# Twitter script , must be imported only on company-info page #}
        {# TODO : function to import the script #}
        <script>
            window.twttr = (
                function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                    if (d.getElementById(id)) return t;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                    t._e = [];
                    t.ready = function (f) {
                        t._e.push(f);
                    };
                    return t;
                }(document, 'script', 'twitter-wjs')
            );
        </script>

        {# Facebook script , must be imported only on company-info page #}
        {# TODO : function to import the script #}
        <div id="fb-root"></div>
        <script>
            (
                function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = '//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk')
            );
        </script>
    </body>
</html>
