<!DOCTYPE html>
<html>
    <head>
        <title>{{ title | default('Annuaire de '~config('somoney.money')~', la monnaie locale '~config('somoney.occupant')) }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- <link rel="canonical" href="http://" />
        <link rel="icon" type="image/png" href="" />
        <link rel="apple-touch-icon" href="" /> -->

        <meta name="description"
              content="Trouvez les professionnels proches de chez vous acceptant la monnaie locale {{ config('somoney.occupant') }} {{ config('somoney.money') }} et découvrez les bons plans qu\'ils vous réservent !" />
        <meta name="keywords"
              content="{{ config('somoney.money') }}, annuaire {{ config('somoney.money') }}, membres {{ config('somoney.money') }}, bons plans {{ config('somoney.money') }}, où dépenser la {{ config('somoney.money') }}" />

        {% block custom_head_assets %}
            <link rel="stylesheet"
                  href="{{ mix('assets/css/somoney-annuaire-widget.css') }}"
                  media="screen"
                  charset="utf-8">
            <link rel="stylesheet" href="{{ mix('assets/css/somoney-annuaire-print.css') }}" media="print" charset="utf-8">
            <!--[if lte IE 9 ]>
            <script src="{{ mix('assets/js/somoney-annuaire-ie-support.js') }}"></script>
            <![endif]-->
        {% endblock %}

    </head>

    <body>

        {% block content %}
        {% endblock %}

        <script src="{{ mix('assets/js/somoney-annuaire-widget.js') }}"></script>

        <script type="text/javascript">
            var $buoop = {vs: {i: 8, f: 20, o: 17, s: 6}, reminder: 0};
            $buoop.ol = window.onload;
            window.onload = function() {
                try {
                    if ($buoop.ol) $buoop.ol();
                } catch (e) {
                }
                var e = document.createElement('script');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src', '//browser-update.org/update.js');
                document.body.appendChild(e);
            };
        </script>

    </body>
</html>
