// Blocks and cards
// ------------------------

// Headband
.headband {
    min-height: 0;
    padding: 70px 20px 40px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    position: relative;
    z-index: 0;
    @media (min-width: $grid-float-breakpoint) {
        padding: 130px 20px 100px;
    }

    p {
        padding: 40px 0;
    }

    .headband-bkg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: -1;
    }

    .content {
        z-index: 1;
        max-width: 800px;
        margin: auto;
    }

    .btn-group {
        display: block;
        padding: 0;
        @include clearfix();
        @media (min-width: $grid-float-breakpoint) {
            padding: 0 50px;
        }

        .btn-container {
            @include make-sm-column(6);
            padding: 10px;
        }

        .btn-container-left {
            .btn-default {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .btn-container-right {
            .btn-default {
                margin-left: auto;
                margin-right: auto;
            }

            @media (min-width: $grid-float-breakpoint) {
                .btn-default {
                    margin-left: 50px;
                }
            }
        }
    }

    .arrow-down {
        font-size: 20px;
        color: $white;
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: 0;
    }

    &.headband--default {
        background-image: url(/assets/img/background.jpg);

        .headband-bkg {
            background: $text-color;
        }
    }

    &.headband--pro {
        background-image: url(/assets/img/background-pro.jpg);

        .headband-bkg {
            background: $color-pro;
        }

        .links-grid {
            .headband-links:hover {
                .headband-links__picto {
                    color: $color-pro;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    &.headband--public {
        background-image: url(/assets/img/background-public.jpg);

        .headband-bkg {
            background: $color-public;
        }

        .links-grid {
            .headband-links:hover {
                .headband-links__picto {
                    color: $color-public;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    .links-grid__5 {
        @include make-row();
        margin-top: 50px;

        article {
            @include make-five-column(0);
        }
    }

    .links-grid__4 {
        @include make-row();
        margin-top: 50px;

        article {
            @include make-sm-column(3);
        }
    }
}

.headband-links {
    display: block;
    height: 180px;

    .headband-links__picto {
        font-size: 35px;
        color: $text-color;
        background: $white;
        border-radius: 50%;
        line-height: 80px;
        height: 80px;
        width: 80px;
        text-align: center;
        margin: 10px auto;
        transition: color 0.4s;
    }

    .headband-links__title {
        color: $white;
        max-width: 140px;
        margin: 0 auto 10px;
    }
}

// Result panel
.result-panel {
    // Below $screen-sm-min its container is hidden
    padding: 10px 32px;
    color: $text-color;
    border: 1px solid $gray-smoke;
    @include transition(all);
    display: block;
    background: white;
    margin: 0 10px 10px;
    border-radius: 5px;
    position: relative;

    .col-picture {
        width: calc(16% + 30px);
        padding: 10px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        .result-panel_picture {
            height: 100%;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    .col-description {
        @include make-xs-column(10);
        @include make-xs-column-offset(2);

        h2 {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0;
            width: 250px;

            .subtitle {
                font-weight: 400;
                font-size: 12px;
            }
        }

        p {
            font-weight: 400;
            font-size: 11px;
            margin: 5px 0 0 0;
        }

        .result-panel_description {
            font-weight: 400;
            font-size: 11px;
            margin: 5px 0 0 0;
            height: 60px;
            overflow: hidden;
        }

        .result-panel_address {
            margin-top: 0;
        }
    }

    &:hover {
        background: $gray-pearl;
    }
}

//Result panel variants
.result-panel--pro {
    .result-panel_address {
        color: $color-pro;
    }
}

.result-panel--public {
    @include transition(all);
    border-left-color: transparent;

    .result-panel_address {
        color: $color-public;
    }

    &:hover {
        border-left-color: $color-public;
    }
}

.result-panel--popin {
    width: 320px;
    color: $text-color !important;
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 15px;
    transform: translate(-8px, 15px);
    @include add-arrow('bottom', 10px, transparent, 1px, white);

    .col-description {
        margin-left: 0;

        .subtitle {
            font-size: 11px;
            display: block;
            width: calc(100% - 30px);
        }
    }
}

// List of infos used in result-panel
.infos {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;

    .infos_item {
        display: inline;
        color: $gray-rock;
        font-size: 14px;
    }
}

.bloc {
    background: $white;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow;
    padding: $bloc-padding;
}

//Bloc back explore
.bloc-back-explore {
    @extend .bloc;
    width: 455px;
    height: 140px;
    padding: 0 15px;
    z-index: 10;
    color: $text-color;

    .bloc-back_label {
        color: $gray-rock;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .bloc-back_input {
        @extend .form-control;
        color: $gray-rock;
        border-width: 1px;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 12px;
        border: 1px solid $input-border;
        border-radius: $input-border-radius;
        @include box-shadow(none);
        @media (min-width: $screen-sm-min) {
            font-size: $font-size-base;
        }

        .bloc-back_input_placeholder {
            float: left;
            color: $gray-placeholder;
            line-height: 36px;
        }

        .basic-search {
            font-size: 20px;
            color: $gray-carbon;
            float: right;
            line-height: 36px;
        }
    }

    &:hover,
    &:focus {
        color: $text-color;
    }
}

.search-panel {
    // background: $white;
    // width: 460px;
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 1;
}

//Card teaser
.card-teaser-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.carousel-teaser {
    padding-bottom: 50px;

    .carousel-indicators {
        bottom: 0px;
        margin-bottom: 20px;
        display: block;

        li {
            margin-left: 2px;
            margin-right: 2px;
            background-color: $gray-cloud;
            width: 14px;
            height: 14px;

            &.active {
                width: 18px;
                height: 18px;
                background-color: $secondary;
            }
        }

        @media (min-width: $screen-sm-min) {
            display: none;
        }
    }

    .carousel-inner {
        @media (min-width: $screen-sm-min) {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: auto;
        }

        .item {
            @media (min-width: $screen-sm-min) {
                display: inline;
            }
        }
    }
}

.card-teaser {
    margin: 0;
    //width: 290px;
    //height: 385px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    @media (min-width: $screen-sm-min) {
        margin: 10px;
        //width: 300px;
    }

    .card-photo {
        height: 200px;
        width: 100%;
        background-color: $gray-rock;

        img {
            max-height: 200px;
            max-width: 100%;
            width: auto;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }
    }

    .card-content {
        color: $text-color;

        h2 {
            margin-bottom: 20px;
        }

        p {
            // height: 140px;
            // overflow: hidden;
            // margin-bottom: 0;
        }
    }
}

//Card basic
.card-basic {
    border-radius: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 0 auto 1px;
    background-color: $white;
    position: relative;
    @media (min-width: $screen-sm-min) {
        border-radius: $border-radius-base;
        width: 220px;
        height: 290px;
        margin: 0 auto 20px;
    }

    .card-photo {
        background-color: $gray-cloud;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100px;
        @media (min-width: $screen-sm-min) {
            position: relative;
            height: 145px;
            width: 100%;
        }

        .card-basic-picture {
            height: 100%;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    .card-content {
        height: 105px;
        padding-left: 100px;
        @media (min-width: $screen-sm-min) {
            position: relative;
            padding-left: 0;
        }

        .card-basic-title {
            height: 30px;
            margin: 10px;
            overflow: hidden;
            color: $text-color;
            font-weight: 600;
        }

        .card-basic-description {
            height: 45px;
            margin: 10px;
            overflow: hidden;
            color: $text-color;
            @media (min-width: $screen-sm-min) {
                margin-top: 20px;
            }
        }
    }

    .card-tags {
        border-top: 1px solid $gray-cloud;
        padding-top: 1px;
        background-color: $gray-smoke;
        overflow: hidden;
        padding: 1px 0 2px 10px;
        white-space: nowrap;
        position: relative;
        display: none;
        @media (min-width: $screen-sm-min) {
            display: block;
        }

        &:before {
            content: "";
            box-shadow: inset -15px 0px 16px $gray-smoke;
            left: 0;
            top: -6px;
            bottom: -6px;
            right: 0;
            position: absolute;
            z-index: 1;
        }
    }
}

.deal-infos {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media (min-width: $screen-sm-min) {
        padding: 0 60px;
        max-width: 940px;
        margin: 20px auto;
    }

    .deal-content {
        @include make-row();

        .deal-part {
            @include make-sm-column(6, 60px);

            &.picture-part {
                .image-viewer {
                    @media (min-width: $screen-sm-min) {
                        width: 100%;
                    }
                }
            }

            &.text-part {
                margin-top: 30px;
                font-weight: 600;
                @media (min-width: $screen-sm-min) {
                    margin-top: 0;
                }

                .deal-title {
                    padding-top: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    height: auto;
                }

                .deal-name {
                    margin-top: 20px;
                    font-size: 16px;
                    color: $color-deal;
                }

                .deal-description {
                    margin: 20px 0;
                }

                .deal-peremption {
                    color: $gray-rock;
                }

                .deal-infos {
                    padding-bottom: 20px;
                    margin-bottom: 0;
                    padding-right: 0;
                    padding-left: 0;
                    border-bottom: 1px solid $gray-cloud;

                    .company-website {
                        color: $color-deal;
                        @include transition(all);

                        &:hover,
                        &:focus {
                            color: darken($color-deal, 10%);
                        }
                    }
                }
            }

            .deal-tags {
                .badge {
                    margin-top: 10px;
                }
            }
        }
    }
}
