.btn-default {
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 50px;
    width: 240px;
    margin: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    display: block;

    &:hover {
        color: $primary;
    }
}

.btn-rounded {
    border-radius: 25px;
    background: $white;
    color: $text-color;
    @include transition(all);

    &.btn-rounded--pro {
        background-color: $color-pro;
        color: $white;

        &:hover,
        &:focus {
            background-color: darken($color-pro, 10%);
        }
    }

    &.btn-rounded--public {
        background-color: $color-public;
        color: $white;

        &:hover,
        &:focus {
            background-color: lighten($color-public, 15%);
        }
    }
}

.btn-small {
    line-height: 45px;
    font-size: 13px;
    width: 240px;
    padding: 0;
}

.btn-pro {
    background-color: $color-pro;
    @include transition(all);

    &:hover,
    &:focus {
        background-color: lighten($color-pro, 10%);
    }
}

.btn-public {
    background-color: $color-public;
    @include transition(all);

    &:hover,
    &:focus {
        background-color: lighten($color-public, 10%);
    }
}

.btn-deal {
    background-color: $color-deal;
    @include transition(all);

    &:hover,
    &:focus {
        color: white;
        background-color: lighten($color-deal, 10%);
    }
}

.btn-adherent {
    background-color: $color-adherent;
    @include transition(all);

    &:hover,
    &:focus {
        color: white;
        background-color: lighten($color-adherent, 10%);
    }
}

.btn-squared {
    background-color: $white;
    border: 1px solid $gray-smoke;
    width: 32px;
    border-radius: $border-radius-base;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    color: $gray-rock;
    font-weight: 600;
    box-shadow: 0px 0px 1px $gray-smoke;

    &:hover {
        color: lighten($gray-rock, 10%);
    }
}

.switch {
    @extend .btn-squared;
    width: auto;

    li {
        text-align: center;
        width: 32px;

        .switch-option {
            border: none;
            position: relative;
            color: $gray-rock;
            background-color: $white;
            padding: 0;
            display: inline;
            @include transition(color);

            &:hover,
            &:focus {
                background: transparent;
                border: none;
                cursor: pointer,
            }
        }

        &.active {
            display: none;
        }
    }
}

.category-tag,
.description-tag {
    font-size: 12px;
    border: 2px solid $gray-cloud;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 20px;

    &:hover {
        border-color: darken($gray-cloud, 10%);
    }

    i {
        position: relative;
        margin-right: 7px;
        top: 2px;
    }
}

.category-tag {
    i {
        color: $secondary;
    }
}

.description-tag {
    i {
        color: $red;
    }
}

// -----------------------------------
// Styles imported from other project
// -----------------------------------

$button-height: 40px;

@mixin button() {
    display: inline-block;
    font-family: $font-family-sans-serif;
    padding: 0 calc-rem(20px);
    height: $button-height;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
    transition: background-color $transition-time-default $transition-easing-default, color $transition-time-default $transition-easing-default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:disabled,
    &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
    }
}

// ------------------------
// Mixin Button Classic
// ------------------------
@mixin button-variant($color-main, $color-text: $white, $button-shadow: darken($color-main, 10%)) {
    color: $color-text;
    background-color: $color-main;
    // -2 equals to the border*2
    line-height: calc(#{$button-height} - 2px);
    box-shadow: inset 0 -2px 0 $button-shadow;

    &:focus,
    &:hover {
        background-color: transparent;
        color: $color-main;
        border: solid 1px $color-main;
        box-shadow: none;
    }

    &:disabled {
        color: $color-text;
        background-color: $color-main;
    }
}

// ------------------------
// Mixin Stroked Button
// ------------------------
@mixin button-variant-stroke($color-main, $color-text: $white) {
    color: $color-main;
    background-color: transparent;
    border: solid 2px $color-main;
    // -4 equals to the border*2
    line-height: calc(#{$button-height} - 4px);
    box-shadow: none;

    &:focus,
    &:hover {
        color: $color-text;
        background-color: $color-main;
    }

    &:disabled {
        color: $color-main;
        background-color: transparent;
    }
}

.c-btn {
    @include button();
    @include button-variant($grey60);

    &--stroke {
        @include button-variant-stroke($grey60);

        &.c-btn--primary {
            @include button-variant-stroke($primary);
        }

        &.c-btn--secondary {
            @include button-variant-stroke($secondary);
        }
    }

    &--full-width {
        display: block;
        width: 100%;
    }

    &--squeeze {
        min-width: auto;
    }
}

// badge mixin
// basic style for badge
// -------------------------

@mixin badge() {
    position: relative;
    display: block;
    width: $badge-size;
    height: $badge-size;
    line-height: $badge-size;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-color: $grey30;
    color: $white;

    .c-p,
    .c-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    &--sm {
        width: $badge-size-sm;
        height: $badge-size-sm;
        line-height: $badge-size-sm;
    }
}

.c-btn-badge {
    @include badge();
    font-weight: bold;
    transition: color $transition;
    // perspective hack for animation background effect
    transform: perspective(1px) translateZ(0);

    // Animation
    &:before {
        content: '';
        position: absolute;
        z-index: map-get($z-index, btn-badge-anim);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $secondary;
        border-radius: 100%;
        transform: scale(0);
        transition: transform $transition;
    }

    &:hover,
    &:focus,
    &.is-active,
    &.is-success {
        color: $white !important;

        &:before {
            transform: scale(2);
        }
    }

    &--icon {
        border: 1px solid $grey20;
        background-color: $white;
        transition: border $transition, color $transition;
        color: $grey60;

        &:hover,
        &:focus,
        &.is-active {
            border: 1px solid transparent;
        }
    }
}
