.deal-landing {
	@include make-row();
	margin: 0 auto;
	padding-bottom: 80px;
	z-index: 1;
	min-height: 580px;
	@media (min-width: $screen-sm-min) {
		min-height: 0;
		max-height: 380px;
	}
	.carousel-part {
		h2 {
			margin-top: 0;
		}
		.other-deals {
			position: relative;
			@media (min-width: $screen-sm-min) {
				position: absolute;
				bottom: 0;
			}
		}
		&.picture-part {
			@include make-sm-column(5, 0);
			background-color: $gray-pearl;
			text-align: center;
			line-height: 255px;
			height: 255px;
			margin-right: 0;
			margin-bottom: 40px;
			@media (min-width: $screen-sm-min) {
				margin-bottom: 0;
			}
			.carousel-picture {
				max-width: 100%;
				max-height: 100%;
				margin: 0 auto;
				height: 100%;
			}
		}
		&.text-part {
			@include make-sm-column(6);
			@include make-sm-column-offset(1);
			text-align: left;
			@media (min-width: $screen-sm-min) {
				height: 255px;
			}
			.landing-deal-description {
				max-height: 95px;
				overflow: hidden;
				position: relative;
				padding-bottom: 10px;
				@media (min-width: $screen-sm-min) {
					max-height: 100%;
				}
				&:after {
					bottom: 0px;
					position: absolute;
					box-shadow: inset 0 -7px 10px $white;
					width: calc(100% + 10px);
					left: -5px;
					right: -5px;
					content: "";
					height: 20px;
				}
			}
		}
	}
	.carousel-indicators {
		bottom: 0;
		margin-bottom: 20px;
		li {
			margin-left: 2px;
			margin-right: 2px;
			background-color: $gray-cloud;
			width: 14px;
			height: 14px;
			@include transition(background-color);
			&.active {
				width: 18px;
				height: 18px;
				background-color: $secondary;
				@include transition(background-color);
				&:hover {
					background-color: darken($secondary, 10%);
				}
			}
			&:hover {
				background-color: darken($gray-cloud, 10%);
			}
		}
	}
}

.image-viewer {
	padding-bottom: 0;
	@media (min-width: $screen-sm-min) {
		padding-bottom: 60px;
	}
	.carousel-indicators {
		left: 0;
		margin-left: 0;
		width: auto;
		bottom: -10px;
		.indicator-container {
			height: 20px;
			width: 20px;
			background-color: $gray-carbon;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			border: none;
			@include transition(all);
			@media (min-width: $screen-sm-min) {
				height: 40px;
				width: 60px;
				border-radius: 0;
				background-color: transparent;
			}
			&.active {
				margin: 1px;
				opacity: 0.5;
			}
			&:hover {
				opacity: 0.5;
			}
			.image-indicator {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.carousel-inner {
		.carousel-big-part {
			height: 255px;
			width: 320px;
			@media (min-width: $screen-sm-min) {
				width: 380px;
			}
			overflow: hidden;
			margin: auto;
			background-color: $gray-cloud;
			.carousel-picture {
				height: 100%;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
			}
		}
	}
}
