// Colors
// ------------------------

$white: #FFF;

$gray-placeholder: #999;
$gray-carbon: #4B4B4D;
$gray-rock: #AEAEAE;
$gray-cloud: #EAEAEA;
$gray-smoke: #F4F4F4;
$gray-pearl: #FAFAFA;

$color-pro: $business;
$color-public: $customer;
$color-deal: $primary;
$color-adherent: $business;

$text-color: #333;
$body-bg: #fff;
$titles-color: #303030;

// Social Colors
// ------------------------

$facebook-color: 	#3b5998;
$twitter-color: 	#00aced;
$google-plus-color:	#dd4b39;
$youtube-color: 	#bb0000;
$linkedin-color: 	#007bb6;
$instagram-color: 	#517fa4;
$pinterest-color: 	#cb2027;
$quora-color: 		#a82400;
$flickr-color: 		#ff0084;
$tumblr-color: 		#32506d;
$vimeo-color: 		#aad450;
$foursquare-color: 	#0072b1;
