//
// Custom Variables
// --------------------------------------------------

// specific var for top-nav
$topnav-height: 30px;

// Bloc
$bloc-padding: 20px;

// Box Shadow
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
