// Imports
// -------------------------
@import "../../../custom-data/current/assets/fonts/fonts";

@font-face {
    font-family: 'dripicons';
    src:    url('/assets/fonts/dripicons.eot?ilfcbp');
    src:    url('/assets/fonts/dripicons.eot?ilfcbp#iefix') format('embedded-opentype'),
        url('/assets/fonts/dripicons.svg?ilfcbp#dripicons') format('svg'),
        url('/assets/fonts/dripicons.ttf?ilfcbp') format('truetype'),
        url('/assets/fonts/dripicons.woff?ilfcbp') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'sonantes-font';
  src:  url('/assets/fonts/sonantes-font.eot?wlj664');
  src:  url('/assets/fonts/sonantes-font.eot?wlj664#iefix') format('embedded-opentype'),
    url('/assets/fonts/sonantes-font.ttf?wlj664') format('truetype'),
    url('/assets/fonts/sonantes-font.woff?wlj664') format('woff'),
    url('/assets/fonts/sonantes-font.svg?wlj664#sonantes-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="basic-"], [class*=" basic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sonantes-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.basic-map:before {
  content: "\25";
}
.basic-plus:before {
  content: "\2b";
}
.basic-minus:before {
  content: "\2d";
}
.basic-simply-left:before {
  content: "\3c";
}
.basic-menu:before {
  content: "\3d";
}
.basic-simply-right:before {
  content: "\3e";
}
.basic-location:before {
  content: "\4d";
}
.basic-printer:before {
  content: "\50";
}
.basic-starfull:before {
  content: "\53";
}
.basic-simply-up:before {
  content: "\5e";
}
.basic-image:before {
  content: "\69";
}
.basic-cross:before {
  content: "\78";
}
.basic-toggleon:before {
  content: "\79";
}
.basic-search:before {
  content: "\7a";
}
.basic-creditcard:before {
  content: "\7b";
}
.basic-toggleoff:before {
  content: "\7c";
}
.basic-simply-down:before {
  content: "\a8";
}
.basic-virement:before {
  content: "\ae";
}
.basic-tag:before {
  content: "\2020";
}
.basic-pin:before {
  content: "\e900";
}
.basic-thumbs:before {
  content: "\e901";
}
.basic-facebook:before {
  content: "\e902";
}
.basic-instagram:before {
  content: "\e903";
}
.basic-twitter:before {
  content: "\e904";
}
.basic-unlock:before {
  content: "\e905";
}
.basic-lock:before {
  content: "\e906";
}
.basic-pencil:before {
  content: "\e907";
}
.basic-home:before {
  content: "\e908";
}
.basic-grid:before {
  content: "\fb01";
}
.basic-map-signs:before {
  content: "\f277";
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dripicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
    content: "\5e";
}
.icon-chevron-down:before {
    content: "\a8";
}
.icon-chevron-left:before {
    content: "\3c";
}
.icon-chevron-right:before {
    content: "\3e";
}
.icon-checkmark:before {
    content: "\63";
}
.icon-cross:before {
    content: "\78";
}
.icon-plus:before {
    content: "\2b";
}
.icon-minus:before {
    content: "\2d";
}
.icon-star:before {
    content: "\73";
}
.icon-information:before {
    content: "\69";
}
.icon-menu:before {
    content: "\3d";
}
.icon-italic:before {
    content: "\ee";
}
.icon-photo:before {
    content: "\70";
}
.icon-anchor:before {
    content: "\e6";
}
.icon-archive:before {
    content: "\c6";
}
.icon-article:before {
    content: "\2021";
}
.icon-bell:before {
    content: "\6c";
}
.icon-blog:before {
    content: "\51";
}
.icon-alarm:before {
    content: "\5a";
}
.icon-bookmark:before {
    content: "\2248";
}
.icon-bookmarks:before {
    content: "\2044";
}
.icon-box:before {
    content: "\56";
}
.icon-briefcase:before {
    content: "\a2";
}
.icon-broadcast:before {
    content: "\47";
}
.icon-brush:before {
    content: "\178";
}
.icon-calendar:before {
    content: "\41";
}
.icon-camcorder:before {
    content: "\44";
}
.icon-camera:before {
    content: "\53";
}
.icon-card:before {
    content: "\76";
}
.icon-checklist:before {
    content: "\72";
}
.icon-clipboard:before {
    content: "\68";
}
.icon-clock:before {
    content: "\6a";
}
.icon-clockwise:before {
    content: "\79";
}
.icon-cloud-download:before {
    content: "\74";
}
.icon-cloud-upload:before {
    content: "\6f";
}
.icon-cloud:before {
    content: "\153";
}
.icon-code:before {
    content: "\57";
}
.icon-contract-2:before {
    content: "\6e";
}
.icon-contract:before {
    content: "\4e";
}
.icon-conversation:before {
    content: "\cc";
}
.icon-copy:before {
    content: "\cb";
}
.icon-crosshair:before {
    content: "\ca";
}
.icon-cutlery:before {
    content: "\201a";
}
.icon-device-desktop:before {
    content: "\2122";
}
.icon-device-mobile:before {
    content: "\eb";
}
.icon-direction:before {
    content: "\3a9";
}
.icon-document-edit:before {
    content: "\c5";
}
.icon-document-new:before {
    content: "\131";
}
.icon-document:before {
    content: "\7c";
}
.icon-download:before {
    content: "\220f";
}
.icon-expand-2:before {
    content: "\b1";
}
.icon-expand:before {
    content: "\2260";
}
.icon-experiment:before {
    content: "\bf";
}
.icon-feed:before {
    content: "\45";
}
.icon-flag:before {
    content: "\46";
}
.icon-flashlight:before {
    content: "\25";
}
.icon-folder-open:before {
    content: "\31";
}
.icon-gaming:before {
    content: "\39";
}
.icon-gear:before {
    content: "\35";
}
.icon-graph-bar:before {
    content: "\26";
}
.icon-graph-line:before {
    content: "\22";
}
.icon-graph-pie:before {
    content: "\e9";
}
.icon-heart:before {
    content: "\28";
}
.icon-help:before {
    content: "\a7";
}
.icon-home:before {
    content: "\e8";
}
.icon-hourglass:before {
    content: "\21";
}
.icon-inbox:before {
    content: "\e7";
}
.icon-jewel:before {
    content: "\e0";
}
.icon-lightbulb:before {
    content: "\f8ff";
}
.icon-link:before {
    content: "\201c";
}
.icon-list:before {
    content: "\2018";
}
.icon-loading:before {
    content: "\7b";
}
.icon-location:before {
    content: "\b6";
}
.icon-mail:before {
    content: "\c7";
}
.icon-map:before {
    content: "\f8";
}
.icon-message:before {
    content: "\2019";
}
.icon-meter:before {
    content: "\201d";
}
.icon-microphone:before {
    content: "\201e";
}
.icon-network-3:before {
    content: "\2f";
}
.icon-pamphlet:before {
    content: "\f9";
}
.icon-paperclip:before {
    content: "\60";
}
.icon-pencil:before {
    content: "\d9";
}
.icon-phone:before {
    content: "\20ac";
}
.icon-photo-group:before {
    content: "\24";
}
.icon-pill:before {
    content: "\4f";
}
.icon-pin:before {
    content: "\50";
}
.icon-power:before {
    content: "\a5";
}
.icon-preview:before {
    content: "\52";
}
.icon-print:before {
    content: "\54";
}
.icon-pulse:before {
    content: "\59";
}
.icon-question:before {
    content: "\4c";
}
.icon-rocket:before {
    content: "\48";
}
.icon-search:before {
    content: "\30";
}
.icon-stack:before {
    content: "\61";
}
.icon-stopwatch:before {
    content: "\7a";
}
.icon-store:before {
    content: "\65";
}
.icon-suitcase:before {
    content: "\75";
}
.icon-swap:before {
    content: "\77";
}
.icon-tag:before {
    content: "\58";
}
.icon-tags:before {
    content: "\66";
}
.icon-thumbs-down:before {
    content: "\71";
}
.icon-thumbs-up:before {
    content: "\67";
}
.icon-ticket:before {
    content: "\6b";
}
.icon-time-reverse:before {
    content: "\62";
}
.icon-to-do:before {
    content: "\c2";
}
.icon-toggles:before {
    content: "\2020";
}
.icon-trash:before {
    content: "\ba";
}
.icon-trophy:before {
    content: "\da";
}
.icon-upload:before {
    content: "\3c0";
}
.icon-user-group:before {
    content: "\fb01";
}
.icon-user-id:before {
    content: "\c8";
}
.icon-user:before {
    content: "\7e";
}
.icon-vibrate:before {
    content: "\25ca";
}
.icon-view-apps:before {
    content: "\df";
}
.icon-view-list-large:before {
    content: "\2026";
}
.icon-view-list:before {
    content: "\221e";
}
.icon-view-thumb:before {
    content: "\b5";
}
.icon-wallet:before {
    content: "\152";
}
.icon-warning:before {
    content: "\fb02";
}
.icon-web:before {
    content: "\aa";
}
