// Footer
// --------------------------

footer {
	background-color: $text-color;
	text-transform: uppercase;
	color: $white;
	text-align: center;
	.footer-redirections {
		@include make-row();
		padding-top: 50px;
		margin: 0;
		position: relative;
		.footer-part {
			padding: 25px 0;
			@include make-sm-column(4);
			@media (min-width: $screen-sm-min) {
				padding: 25px 0;
			}
			.footer-title {
				font-size: 16px;
				font-weight: 500;
				@media (min-width: $screen-sm-min) {
					height: 44px;
					margin-bottom: 0px;
				}
			}
			.btn-default {
				width: 190px;
				margin-left: auto;
				margin-right: auto;
			}
			.btn-public-footer {
				background-color: $customer;
				&:hover,
				&:focus {
					background-color: lighten($customer, 10%);
				}
			}
			.btn-asso {
				position: relative;
				.overlay-picture-asso {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: black;
					border-radius: $border-radius-base;
					opacity: 0.5;
					display: none;
					@include transition(all);
				}
				.footer-asso-picture {
					width: 100%;
					border-radius: $border-radius-base;
				}
				&:hover,
				&:focus {
					background-color: $white;
					.overlay-picture-asso {
						display: block;
					}
				}
			}
		}
		.asso-part {
			bottom: -120px;
			position: absolute;
			display: inline;
			transform: translateX(-50%);
			@media (min-width: $screen-sm-min) {
				position: relative;
				bottom: 0px;
				padding: 25px 0px;
				@include make-sm-column(4);
				transform: translateX(0%);
			}
		}
		.public-part {
			@include make-sm-column-offset(4);
		}
		.footer-separator {
			list-style: none;
			padding: 0;
			margin-top: 10px;
			.dot-separator {
				height: 7px;
				width: 7px;
				background-color: $white;
				border-radius: 10px;
				display: inline-block;
				margin: 2px;
				&.big-dot {
					height: 11px;
					width: 11px;
					margin: 0 5px;
				}
			}
		}
	}
	.signature {
		margin-top: 177px;
		background-color: $primary;
		color: $white;
		padding: 10px 0;
		font-size: 12px;
		@media (min-width: $screen-sm-min) {
			margin-top: 50px;
		}
		a {
			color: $white;
		}
	}
}
