//
// Required variables from somoney-app
// --------------------------------------------------

// REM calculation function
$font-size-root: $font-size-base;
@function calc-rem($target, $context: $font-size-root) {
	@return $target / $context * 1rem;
}

$font-icon-size-large: 20px;

$main-breakpoint: $screen-sm-min;

$z-index: (
	// Header
	header: 1000,
);
$navbar-height-mobile: 60px;
$badge-size: 40px;

$grey5: #fafafa;
$grey10: #f4f4f4;
$grey20: #eaeaea;
$grey25: #aeaeae;
$grey30: #ccc;
$grey40: #adadad;
$grey50: #888;
$grey55: #666;
$grey60: #444;

$shadow-default: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
$shadow-large: 0 0 10px 0 rgba(0, 0, 0, 0.25);
$shadow-inset: inset 0 -1px 0;

$transition-time-fast: 0.2s;
$transition-time-default: 0.4s;
$transition-time-slow: 0.6s;
$transition-easing-default: ease-out;
$transition: $transition-time-default $transition-easing-default;

$badge-size-sm: 30px;
$badge-size: 40px;
$badge-size-lg: 100px;
