// Inputs
// -------------------------

::-webkit-input-placeholder {
    color: $gray-rock;
}

:-moz-placeholder { /* Firefox 18- */
    color: $gray-rock;
}

::-moz-placeholder { /* Firefox 19+ */
    color: $gray-rock;
}

:-ms-input-placeholder {
    color: $gray-rock;
}

// basic form-group
.form-group {
    label {
        color: $gray-rock;
    }

    .form-control {
        border-width: 1px;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 12px;
        @include box-shadow(none);
        @media (min-width: $screen-sm-min) {
            font-size: $font-size-base;
        }

        &:focus {
            border-color: $gray-rock;
        }
    }

    .form-control[disabled] {
        background: $input-bg;

        &:hover {
            cursor: pointer;
        }
    }
}

.form-control-small {
    width: 150px;
    height: 32px;
    border: 1px solid $gray-smoke;
    box-shadow: 0px 0px 1px $gray-smoke;
    border-radius: $input-border-radius;
    font-weight: 600;
    text-transform: capitalize;
    color: $gray-rock;
    background: $white;
    font-size: 12px;

    &:focus {
        border-color: $gray-rock;
    }
}

//Manage search input behaviour
.input--not-active {
    display: none;
}

//Inputs with picto buttons
.input-group {
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    overflow: hidden;

    input {
        border: none;
    }

    .input-group-btn {
        position: relative;
        background: $input-group-addon-bg;

        .btn {
            background: transparent;
            font-size: 20px;
            color: $gray-carbon;
            border: none;

            &:active {
                box-shadow: none;
            }
        }
    }

    .input-group-btn + .input-group-btn {
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            height: 30px;
            width: 1px;
            background: $gray-cloud;
        }
    }
}

//Toggle slider (radio)
.toggle {
    cursor: pointer;
    display: block;
    height: $input-height-base;
    margin-bottom: 30px;
    @include transition(all);
    @include clearfix();
}

.toggle-switch {
    float: left;
    background: $gray-rock;
    border-radius: 10px;
    width: 35px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    margin: 15px 15px 15px 0;
    @include transition(background);

    &:before,
    &:after {
        content: "";
    }

    &:before {
        display: block;
        background: $gray-cloud;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: left 0.25s;
    }

    .toggle:hover &:before {
        background: $white;
    }

    .toggle-checkbox:checked + & {
        background: $secondary;

        &:before {
            left: 17px;
        }
    }
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    padding-top: 15px;
    position: relative;
    font-weight: 600;
    color: $input-color;
    display: block;
    @media (min-width: $screen-sm-min) {
        font-size: $font-size-base;
    }
}

.autocomplete-suggestions {
    width: calc(-22px + 100%) !important;
    border: 1px solid $gray-rock;
    background: $gray-smoke;
    border-bottom-left-radius: $input-border-radius;;
    border-bottom-right-radius: $input-border-radius;
    @media (min-width: $screen-md-min) {
        width: 423px !important;
    }
}

.autocomplete-suggestion {
    color: $gray-carbon;
}

.autocomplete-suggestion b {
    color: $secondary;
}

.autocomplete-suggestion.selected {
    background: $gray-cloud;
}

// Search band form
.search-band {
    position: relative;
    margin-top: 30px;
    background: $white;
    height: 50px;
    border-radius: 25px;

    .form-group {
        margin: 0;
    }

    .basic-search {
        position: absolute;
        line-height: 50px;
        top: 0;
        left: 0;
        z-index: 10;
        color: $gray-rock;
        font-size: 20px;
        text-align: center;
        width: 50px;
    }

    .input-search-band {
        background: transparent;
        border: none;
        color: $gray-rock;
        text-transform: none;
        width: 100%;
        @media (min-width: $screen-sm-min) {
            width: calc(100% - 150px);
            padding-left: 60px;
        }
        @media (max-width: $screen-sm-min) {
            width: calc(100% - 62px);
            padding-left: 20px;
        }

        &::-webkit-input-placeholder {
            color: $gray-rock;
            font-weight: 200;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $gray-rock;
            font-weight: 200;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $gray-rock;
            font-weight: 200;
        }

        &:-ms-input-placeholder {
            color: $gray-rock;
            font-weight: 200;
        }
    }

    .btn-search-band {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        padding-right: 40px;
        padding-left: 20px;
        border-radius: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: $primary;
        transition: background 0.4;
        color: $white;
        text-transform: uppercase;
        display: block;
        @include transition(all);

        &:focus,
        &:hover {
            background: darken($primary, 15%);
        }
    }
}
