// Map
// -------------------------

.map-leaflet {
	height: 100%;
	padding: 0;
	margin: 0;
}

//remove popup default style
.leaflet-popup {
	.leaflet-popup-close-button {
		display: none;
	}
	.leaflet-popup-content-wrapper {
		background: transparent;
		box-shadow: none;
	}
	.leaflet-popup-tip {
		display: none;
	}
}

//add popup custom style
.popup {
	background: url(/assets/img/bubble.png) no-repeat center center;
	display: block;
	padding: 3px 0;
    background-size: 200px;
    background-position: -20px -15px;
    width: 160px;
    height: 170px;
    transform: translate(1px, 43px);
	.popup-content {
		width: 150px;
		height: 149px;
		margin: auto;
		overflow: hidden;
		border-radius: 50%;
		position: relative;
		padding: 0;
		img {
			min-width: 100%;
			height: 75%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.popup-hover {
			opacity: 0;
			width: 150px;
			height: 149px;
			margin: auto;
			overflow: hidden;
			border-radius: 50%;
			position: relative;
			padding: 0;
			background: white;
			@include transition(opacity);
		}
	}
	&:hover {
		.popup-hover {
			opacity: 0.5;
		}
	}
}

//move default control-zoom
//custom default control-zoom
.leaflet-control-container {
	> div {
		position: absolute;
		right: 20px;
		bottom: 20px;
		left: auto;
		top: auto;
		.leaflet-control-zoom {
			border: none;
			background: transparent;
			box-shadow: none;
			a {
				margin: 10px;
				box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
				background: $white !important;
				border-radius: 50%;
				border: 1px solid $gray-rock;
				position: relative;
				width: 30px;
				height: 30px;
				color: $gray-rock;
				&:after {
					content: "";
					display: block;
					height: 100%;
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
				}
				&.leaflet-control-zoom_in {
					@extend .basic-plus;
					line-height: 26px;
				}
				&.leaflet-control-zoom_out {
					@extend .basic-minus;
					line-height: 28px;
				}
			}
		}
	}
}

//place attribution
.leaflet-control-attribution {
	top: 15px;
	float: none;
}

//custom clusters
.marker-cluster-medium,
.marker-cluster-small,
.marker-cluster-large {
	background: $secondary;
	border: 1px solid $white;
}
.marker-cluster div {
	background: $secondary;
	color: $white;
}

.deals {
	.marker-cluster-medium,
	.marker-cluster-small,
	.marker-cluster-large {
		background: $red;
		border: 1px solid $white;
	}

	.marker-cluster div {
		background: $red;
		color: $white;
	}
}
