// Pagination
// ------------------------

.pagination {
	display: block;
	margin: auto;
	@include clearfix();
	li {
		a {
			border: none;
		}
	}
}

.pagination--light {
	li a {
		color: $text-color;
		@include transition(all);
	}
}

.pagination--dark {
	li a {
		color: $white;
	}
}

.pagination--deal {
	li a:hover,
	li a:focus,
	.active a,
	.active a:hover {
		color: $color-deal;
	}
}

.pagination--adherent {
	li a:hover,
	li a:focus,
	.active a,
	.active a:hover {
		color: $color-adherent;
	}
}
