// ---
// Shameful Styles
// ---

// Put all of the styles you are ashamed of in here.
// Courtesy Harry Roberts: http://csswizardry.com/2013/04/shame-css/

//The rules

//Obviously you need some kind of rules and criteria:

//1. If it’s a hack, it goes in shame.css.
//2. Document all hacks fully:
	//What part of the codebase does it relate to?
	//Why was this needed?
	//How does this fix it?
	//How might you fix it properly, given more time?
//3. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//4. Try and clean shame.css up when you have some down time.
	//Even better, get a tech-debt story in which you can dedicate actual sprint time to it.

/**
 * Example : Nav specificity fix.
 *
 * Someone used an ID in the header code (`#header a {}`) which trumps the
 * nav selectors (`.site-nav a {}`). Use !important to override it until I
 * have time to refactor the header stuff.

		.site-nav a {
		    color: #BADA55 !important;
		}
*/

.home {
	.autocomplete-suggestions {
		margin-left: 50px;
	}
}
