.slider-range-container {
	margin: 50px 0 40px;
}
.slider-range {
	&.noUi-horizontal {
		height: 7px;
		margin: 20px;
		.noUi-handle {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			left: -14px;
			box-shadow: none;
			cursor: pointer;
			&:before,
			&:after {
				content: none;
			}
			.upper-value,
			.lower-value {
				top: 20px;
				position: relative;
				left: -20px;
				width: 100px;
				border: none;
				background-color: transparent;
			}
		}
	}
	&.noUi-target {
		border: none;
		box-shadow: none;
	}
	.noUi-origin {
		border-radius: 4px;
		box-shadow: none;
	}
	&.directory-search {
		.noUi-connect {
			background-color: $secondary;
		}
	}
	&.deal-search {
		.noUi-connect {
			background-color: $red;
		}
	}
}
.noUi-background {
	background-color: $gray-cloud !important;
}
