// Tooltip
// --------------------------

.tooltip {
	width: 150px;
	.tooltip-inner {
		border-radius: $border-radius-base;
	}
}

.badge_pioneer {
	width: 30px;
	height: 30px;
	margin: 10px 0;
	display: inline;
	float: right;
	@media (min-width: $screen-sm-min) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}
