p {
	&.bold {
		font-weight: 600;
	}
	&.small {
		font-size: 11px;
	}
	&.big {
		font-size: 16px;
	}
}
h1,
.h1 {
	text-transform: uppercase;
	color: white;
	letter-spacing: 0;
	&.border {
		border-bottom: 1px solid $gray-cloud;
		padding-bottom: 25px;
	}
}

h2,
.h2 {
	color: $titles-color;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	&.border {
		border-bottom: 1px solid $gray-cloud;
		height: 50px;
	}
}

h3,
.h3 {
	font-size: 14px;
	text-transform: uppercase;
}

.title-content,
.title-content a {
	font-weight: 600;
	color: $titles-color;
}

.results-indicator {
	font-weight: 600;
	font-size: 14px;
	color: $text-color;
	display: inline-block;
	line-height: 32px;
    margin: 0;
	.big-number {
		color: $secondary;
	}
}

a {
	color: $secondary;
	font-weight: 600;
	@include transition(all);
	&:focus,
	&:hover {
		color: darken($secondary, 10%);
	}
}

.lead {
	color: $white;
	font-size: 22px;
	letter-spacing: 0;
}


.subtitle {
	color: $gray-rock;
	font-size: 18px;
	font-weight: 600;
	text-transform: none;
}
h2 + .subtitle {
	font-size: 14px;
}
h3 + .subtitle,
h3 > .subtitle {
	font-size: 12px;
}
