// Function

// Display
.u-hide {
    display: none !important;
}

.u-block {
    display: block;
}

.u-inline {
    display: inline;
}

.u-inline-block {
    display: inline-block !important;
}

.u-vertical-middle {
    vertical-align: middle;
}

.u-relative {
    position: relative;
}

.u-center {
    text-align: center !important;
}

.u-hide-down {
    @media (max-width: $main-breakpoint - 1) {
        display: none;
    }
}

.u-hide-up {
    @media (min-width: $main-breakpoint) {
        display: none;
    }
}

// Visibility
.u-invisible {
    visibility: hidden;
}

// Position
.u-full-height {
    min-height: 100%;
    height: 100%;
}

.u-full-width {
    width: 100%;
}

.u-justify {
    // This is a way to justify elements
    // In order to have equals space between them
    // More info : https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox
    // "Note: This method only works with uncompressed HTML and requires a fixed height on the container"
    text-align: justify;

    // :after below create an item with 100% width.
    // text-align property takes it into consideration and create equal space between items in the entire width of parent
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

// Typography styles
.u-small {
    font-size: calc-rem($font-size-small);
}

.u-large {
    font-size: calc-rem($font-size-large);
}

.u-normal-weight {
    font-weight: normal;
}

.u-bold {
    font-weight: bold;
}

.u-italic {
    font-style: italic;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-serif {
    font-family: $font-family-serif;
}

.u-sans-serif {
    font-family: $font-family-sans-serif;
}

.u-line-height-reset {
    line-height: initial;
}

.u-vertical-separator {
    position: relative;

    &:before {
        content: '';
        height: 50%;
        top: 25%;
        width: 1px;
        position: absolute;
        left: 0;
        background: $grey30;
        display: block;
    }
}

// Padding
$padding-sm: calc-rem(10px);
$padding: calc-rem(20px);

.u-pd-reset {
    padding: 0 !important;
}

.u-pd-hz-reset {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.u-pd-top-sm {
    padding-top: $padding-sm !important;
}

.u-pd-bottom-sm {
    padding-bottom: $padding-sm !important;
}

.u-pd-left-sm {
    padding-left: $padding-sm !important;
}

.u-pd-right-sm {
    padding-right: $padding-sm !important;
}

.u-pd-vt-sm {
    padding-top: $padding-sm !important;
    padding-bottom: $padding-sm !important;
}

.u-pd-hz-sm {
    padding-left: $padding-sm !important;
    padding-right: $padding-sm !important;
}

.u-pd-sm {
    padding: $padding-sm !important;
}

.u-pd-top {
    padding-top: $padding !important;
}

.u-pd-bottom {
    padding-bottom: $padding !important;
}

.u-pd-left {
    padding-left: $padding !important;
}

.u-pd-right {
    padding-right: $padding !important;
}

.u-pd-vt {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
}

.u-pd-hz {
    padding-left: $padding !important;
    padding-right: $padding !important;
}

.u-pd {
    padding: $padding !important;
}

.u-pd-navbar {
    padding-top: $navbar-height-mobile !important;
    @media (min-width: $grid-float-breakpoint) {
        padding-top: $navbar-height !important;
    }
}

.u-pd-hz-mobile {
    @media (max-width: $main-breakpoint - 1) {
        padding-left: $padding-sm !important;
        padding-right: $padding-sm !important;
    }
}

// Margin
$margin-sm: calc-rem(10px);
$margin: calc-rem(20px);
$margin-lg: calc-rem(40px);

.u-mg-reset {
    margin: 0 !important;
}

.u-mg-top-sm {
    margin-top: $margin-sm !important;
}

.u-mg-bottom-sm {
    margin-bottom: $margin-sm !important;
}

.u-mg-left-sm {
    margin-left: $margin-sm !important;
}

.u-mg-right-sm {
    margin-right: $margin-sm !important;
}

.u-mg-vt-sm {
    margin-top: $margin-sm !important;
    margin-bottom: $margin-sm !important;
}

.u-mg-hz-sm {
    margin-left: $margin-sm !important;
    margin-right: $margin-sm !important;
}

.u-mg-sm {
    margin: $margin-sm !important;
}

.u-mg-top {
    margin-top: $margin !important;
}

.u-mg-bottom {
    margin-bottom: $margin !important;
}

.u-mg-left {
    margin-left: $margin !important;
}

.u-mg-right {
    margin-right: $margin !important;
}

.u-mg-vt {
    margin-top: $margin !important;
    margin-bottom: $margin !important;
}

.u-mg-hz {
    margin-left: $margin !important;
    margin-right: $margin !important;
}

.u-mg {
    margin: $margin !important;
}

.u-mg-top-lg {
    margin-top: $margin-lg !important;
}

.u-mg-bottom-lg {
    margin-bottom: $margin-lg !important;
}

.u-mg-left-lg {
    margin-left: $margin-lg !important;
}

.u-mg-right-lg {
    margin-right: $margin-lg !important;
}

.u-mg-vt-lg {
    margin-top: $margin-lg !important;
    margin-bottom: $margin-lg !important;
}

.u-mg-hz-lg {
    margin-left: $margin-lg !important;
    margin-right: $margin-lg !important;
}

.u-mg-lg {
    margin: $margin-lg !important;
}

.u-mg-navbar {
    margin-top: $navbar-height-mobile !important;
    @media (min-width: $grid-float-breakpoint) {
        margin-top: $navbar-height !important;
    }
}

.u-white {
    color: white !important;
}
