.deal-infos-container {
	.map-canvas {
		height: 335px;
		position: relative;
		display: none;
		@media (min-width: $screen-sm-min) {
			display: block;
		}
		&:after {
			content: "";
			width: calc(100% + 10px);
			height: 10px;
			position: absolute;
			bottom: 0;
			left: -10px;
			box-shadow: inset 0px -5px 7px rgba(174,174,174,.5);
		}
		.bloc-back-explore {
			position: absolute;
			top: 0;
			margin: 10px;
		}
		.leaflet-top {
			z-index: 0;
		}
	}
	.container {
		margin-bottom: 50px;
		@media (min-width: $screen-sm-min) {
			margin-top: 50px;
		}
		.picture-part {
			padding: 0;
			@media (min-width: $screen-sm-min) {
				padding: 0 20px;
			}
			.image-viewer {
				width: 100% !important;
				@media (min-width: $screen-sm-min) {
					width: 380px;
				}
				.carousel-big-part {
					width: 100%;
					@media (min-width: $screen-sm-min) {
						width: 380px;
					}
				}
			}
		}
	}
}
