// View-explore
// ------------------------

body {
    border: 1px solid $gray-rock;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.view-explore-widget {
    position: relative;
    height: 100%;

    .widget-logo-container {
        width: 130px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        background: $white;
        box-shadow: $box-shadow;
        z-index: 1;

        .widget-logo {
            height: 100%;
        }
    }

    //Main container
    .search-container {
        position: fixed;
        height: 160px;
        width: 100%;
        z-index: 10;
        @include transition(height);
        @media (min-width: $grid-float-breakpoint) {
            width: 490px;
        }
    }

    //Animated background
    .search-background {
        @extend .bloc;
        padding: 0;
        position: fixed;
        left: 0;
        z-index: 1;
        top: 0;
        height: 160px;
        width: 100%;
        @include transition(all);
        @media (min-width: $grid-float-breakpoint) {
            top: 10px;
            left: 10px;
            width: 455px;
            height: 140px;
            border-radius: $border-radius-base;
        }
    }

    //Block initial and when extended
    .search-bloc {
        position: fixed;
        top: 0;
        height: 160px;
        overflow: hidden;
        z-index: 11;
        width: 100%;
        @media (min-width: $grid-float-breakpoint) {
            left: 0;
            margin-left: 0;
            width: 465px;
            padding: 0;
            height: 150px;
        }

        .search-panel-initial {
            padding: 0 10px;
            height: 145px;
            @media (min-width: $grid-float-breakpoint) {
                padding: 10px 15px 0 25px;
            }

            .h3 {
                margin-top: 10px;
                @media (min-width: $grid-float-breakpoint) {
                    margin-top: 20px;
                }
            }
        }

        .search-panel-extended {
            display: none;
            opacity: 0;
            @include transition(opacity);
        }

        .search-panel-control {
            .btn-squared {
                @media (min-width: $grid-float-breakpoint) {
                    position: absolute;
                    right: 15px;
                    top: 20px;
                }
            }

            .switch {
                display: none;
                @media (min-width: $grid-float-breakpoint) {
                    position: absolute;
                    right: 55px;
                    top: 20px;
                }
            }
        }
    }

    //STATE : search-container open
    .search-container--open {
        height: 100%;

        .search-background {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $gray-rock;
            border-right: none;
            @media (min-width: $grid-float-breakpoint) {
                width: 465px;
            }

            &:before {
                content: "";
                display: none;
                border-radius: 30px;
                height: 44px;
                width: 74px;
                background: $white;
                position: absolute;
                top: 13px;
                right: -50px;
                box-shadow: $box-shadow;
                @media (min-width: $grid-float-breakpoint) {
                    display: block;
                }
            }

            &:after {
                content: "";
                display: none;
                height: 64px;
                width: 35px;
                background: $white;
                position: absolute;
                top: 0;
                right: 0;
                @media (min-width: $grid-float-breakpoint) {
                    display: block;
                }
            }
        }

        .close-search-panel {
            opacity: 1;
        }

        .search-bloc {
            overflow: scroll;
            height: 100%;

            .search-panel-extended {
                display: block;
                opacity: 1;
            }

            .search-panel-control {
                .switch {
                    @media (min-width: $grid-float-breakpoint) {
                        opacity: 1;
                        display: block;
                        > * {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        //STATE : Is the open search-panel displaying search or results ?
        &.search-container--extended-search-open {
            .extended-search {
                display: block;
            }
        }

        &.search-container--extended-results-open {
            //search-container when results are shown on mobile
            height: 200px;
            @media (min-width: $grid-float-breakpoint) {
                height: 100%;
            }

            .search-background {
                height: 200px;
                @media (min-width: $grid-float-breakpoint) {
                    height: 100%;
                }
            }

            .search-bloc {
                height: 200px;
                @media (min-width: $grid-float-breakpoint) {
                    height: 100%;
                }

                .search-panel-initial {
                    @media (min-width: $grid-float-breakpoint) {
                        position: fixed;
                        width: 465px;
                        background: $white;
                        height: 145px;
                        z-index: 1;
                    }
                }
            }

            .extended-results {
                display: block;
                @media (min-width: $grid-float-breakpoint) {
                    padding-top: 145px;
                }
            }
        }
    }

    //Inner components of extended container
    .extended-search {
        padding: 0 10px;
        display: none;
        overflow-x: hidden;
        @media (min-width: $grid-float-breakpoint) {
            padding: 10px 15px 0 25px;
        }
    }

    .extended-results {
        width: 100%;
        display: none;

        .results-controls {
            border-top: 1px solid $gray-smoke;
            border-bottom: 1px solid $gray-smoke;
            padding: 5px 15px;
            @include clearfix();

            .results-indicator {
                float: left;
            }

            .btn-squared {
                float: right;
                margin-left: 10px;
                display: none;
                @media (min-width: $grid-float-breakpoint) {
                    display: block;
                }
            }

            .form-control-small {
                float: right;
                display: none;
                @media (min-width: $grid-float-breakpoint) {
                    display: block;
                }
            }
        }

        .results-container {
            display: none;
            @media (min-width: $grid-float-breakpoint) {
                display: block;
            }
        }

        .results-message {
            text-align: center;
            padding: 0 15px;
            margin-top: 130px;
            font-size: 18px;
            font-weight: 600;

            p {
                color: $gray-rock;
                margin: 0;
            }
        }
    }

    //STATE : search-container when the grid mode is on
    .search-container--grid-display {
        .search-background {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 0;
            }
        }

        .close-search-panel {
            opacity: 0;
        }
    }

    //Other inner components
    .close-search-panel {
        border: none;
        border-radius: 0;
        height: 32px;
        width: 32px;
        position: absolute;
        right: 20px;
        top: 35px;
        line-height: 0;
        background: $white;
        color: $gray-rock;
        font-size: 20px;
        z-index: 12;
        opacity: 0;
        transform: rotate(90deg);
        @include transition(opacity);
        @media (min-width: $grid-float-breakpoint) {
            border-radius: 30px;
            height: 60px;
            width: 40px;
            right: -38px;
            top: 5px;
            //change the z-index so the scroll goes over
            z-index: 11;
        }

        .basic-simply-left {
            position: absolute;
            width: 32px;
            top: 5px;
            left: 0;
            @media (min-width: $grid-float-breakpoint) {
                top: 10px;
                width: 40px;
            }
        }

        &.close-search-panel--mobile {
            display: block;
            @media (min-width: $grid-float-breakpoint) {
                display: none;
            }
        }

        &.close-search-panel--desktop {
            display: none;
            @media (min-width: $grid-float-breakpoint) {
                display: block;
            }
        }
    }

    .btn-search {
        @extend .center-block;
        margin-bottom: 10px;
    }

    .pagination {
        margin: 0 auto 10px;
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%)
    }
}

.explore-map-panel {
    //header-height: $navbar-height = 60px
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;

    .explore-map-container {
        height: 100%;
        width: 100%;
    }
}

.explore-grid-panel {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: $gray-carbon;
    padding: 160px 10px 0;
    @media (min-width: $grid-float-breakpoint) {
        padding: 35px 0 0 475px;
    }

    .explore-grid-container {
        @include make-row();
        padding-bottom: 20px;
        padding-top: 70px;
        min-height: 100%;
        width: 100%;
        margin: 0;
        @media (min-width: $grid-float-breakpoint) {
            padding-top: 0;
            min-height: calc(100% - 80px);
            width: calc(100vw - 480px);
        }

        .card-basic-container {
            float: left;
            width: 100%;
            @media (min-width: 600px) {
                width: 50%;
            }
            @media (min-width: 850px) {
                width: 33.33333%;
            }
            @media (min-width: $grid-float-breakpoint) {
                width: 50%;
            }
            @media (min-width: 1200px) {
                width: calc(100% / 3);
            }
            @media (min-width: 1440px) {
                width: 25%;
            }
            @media (min-width: 1680px) {
                width: 20%;
            }
            @media (min-width: 1880px) {
                width: calc(100% / 6);
            }
        }
    }
}

.js-lazyload-print {
    display: block;
    float: left;
}
