// View-explore
// ------------------------

.view-explore {

    //The .search-container contains the 2 columns :
    //the search form and the column of search results
    .search-container {
        @include make-row(0);
        position: fixed;
        width: 100%;
        z-index: 20;
        background: $white;
        // IO7 issue : some OS do not support vh unit in calc(). In iphone 4, the navbar (60px) is 12.5% of the
        // viewport height, so the search-container must be 87.5vh.
        // The height is then rewritten with calc, but if calc is not allowed, the OS will use the first height value.
        height: 87.5vh;
        height: calc(100vh - 60px);
        @media (min-width: $grid-float-breakpoint) {
            width: 960px; // ~490px * 2
            height: calc(100vh - 80px);
            z-index: 10;
        }
    }

    // The transition from form column to results column (and vice-versa)
    // is a translation of the main container thanks to a js class.
    .js-display-results {
        transform: translateX(0);
        transition: transform 0.6s;

        &.open {
            transform: translateX(-100%);
            @media (min-width: $grid-float-breakpoint) {
                transform: translateX(-480px);
            }
        }
    }

    // FORM column
    // The search form is the left column and contains all the input
    // ------------------------
    .search-form {
        @include make-md-column(6, 0);
        padding: 10px 30px;
        height: 100%;
        overflow: auto;

        .h3 {
            margin-bottom: 30px;
        }
    }

    // RESULTS column
    // The search results is the right column and contains all the result cards
    // ------------------------
    .search-results {
        @include make-md-column(6, 0);
        background: $gray-cloud;
        padding-left: 50px;
        min-height: 100%;
        // the panel is not displayed in mobile view
        display: none;
        @media (min-width: $grid-float-breakpoint) {
            display: block;
        }
    }

    // Vertical bar on the left on the second column
    .results-infos {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50px;
        text-align: center;
        padding: 0;
        list-style: none;
        background: lighten($gray-rock, 15%);

        .results-infos__item {
            color: $white;
            line-height: 50px;
            font-size: 12px;

            i {
                font-size: 20px;
            }

            &:first-child {
                background: $gray-carbon;
                margin-bottom: 5px;

                i {
                    font-weight: bold;
                    line-height: 50px;
                    display: block;
                    color: $white;
                }
            }
        }
    }

    // Results informations on top of the column
    .results-controls {
        position: relative;

        .btn-back {
            border-radius: 0;
            border: none;
            line-height: 50px;
            padding: 0 10px;
            text-align: left;
            font-weight: 400;
            text-transform: uppercase;
            padding-left: 50px;
            background: lighten($gray-rock, 15%);
            color: $gray-rock;
            transition: background 0.4, color 0.4;

            i {
                position: absolute;
                left: 10px;
                top: 0;
                line-height: 50px;
                font-size: 20px;
                font-weight: bold;
            }

            &:hover {
                background: $gray-rock;
                color: lighten($gray-rock, 15%);
            }
        }

        .results-indicator {
            padding: 5px 15px;
        }

        .no-results {
            padding: 40px 60px 0;
            text-align: center;

            .basic-map-signs {
                font-size: 15vh;
                margin: 50px 0;
            }
        }
    }

    // Results container
    .results-container {
        //display: none;
        @media (min-width: $grid-float-breakpoint) {
            // view height - header-height - results-control height
            height: calc(100vh - 80px - 100px);
            overflow: scroll;
        }
    }

    // Message when there is no results
    .results-message {
        text-align: center;
        padding: 0 15px;
        margin-top: 130px;
        font-size: 18px;
        font-weight: 600;

        p {
            color: $gray-rock;
            margin: 0;
        }
    }

    // EXPLORE CONTROLS
    // The global control buttons allowing user to interact with
    // the view (switch, location, ...)
    // ------------------------

    .input-mobile-map {
        display: block;
        position: fixed;
        top: 70px;
        z-index: 14;
        left: 15px;
        right: 15px;
        @media (min-width: $grid-float-breakpoint) {
            display: none;
        }

        label {
            display: none;
        }

        .input-group {
            box-shadow: rgba(0, 0, 0, .2) 0 0 4px 2px;
            border: 1px solid #aeaeae;

            a {
                margin: 0;
            }
        }

        .form-control,
        .input-group-btn {
            background: $white;
        }
    }

    .explore-controls {
        position: fixed;
        top: 90px;
        right: 10px;
        z-index: 15;

        ul, button, & > a {
            float: none;
            margin: 0 0 5px;
            @media (min-width: $grid-float-breakpoint) {
                float: left;
                margin: 0 5px;
            }
        }

        .switch li {
            width: 100%;
        }

        .btn-squared {
            box-shadow: rgba(0, 0, 0, .2) 0 0 4px 2px;
            border: 1px solid #aeaeae;
            width: 40px;
            line-height: 40px;
            margin-top: 5px;

            a {
                margin: 0;
            }
        }

        .btn-printer {
            display: none;
        }
    }

    &.view-explore--grid {
        .explore-controls {
            @media (max-width: $grid-float-breakpoint) {
                top: 140px;
            }

            ul, button, & > a {
                @media (max-width: $grid-float-breakpoint) {
                    float: left;
                    margin: 0 5px;
                }
            }

            .btn-location {
                display: none;
            }

            .btn-printer {
                font-size: 10px;
                display: block;
            }
        }
    }

    // .btn-squared {
    // 	float: right;
    // 	margin-left: 10px;
    // 	//display: none;
    // 	@media (min-width: $grid-float-breakpoint) {
    // 		display: block;
    // 	}
    // }
    // .form-control-small {
    // 	float: right;
    // 	//display: none;
    // 	@media (min-width: $grid-float-breakpoint) {
    // 		display: block;
    // 	}
    // }

    // TAB panel
    // ...
    // ------------------------

    // Message displayed when loading the map
    .loading-view {
        height: calc(100vh - 80px);
        width: calc(100vw - 480px);
        top: 80px;
        left: 480px;
        position: fixed;
        z-index: 11;
        background: $gray-cloud;

        .p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $gray-rock;
        }
    }

    // Map tab
    .explore-map-panel {
        //header-height: $navbar-height = 60px
        height: 87.5vh;
        height: calc(100vh - 60px);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 12;
        @media (min-width: $grid-float-breakpoint) {
            //header-height: $topnav-height + $navbar-height = 80px
            height: calc(100vh - 80px);
            width: calc(100vw - 480px);
            top: 80px;
            left: 480px;
        }

        .explore-map-container {
            height: 100%;
            width: 100%;
        }
    }

    // Grid tab
    .explore-grid-panel {
        height: 87.5vh;
        height: calc(100vh - 60px);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 14;
        background: $gray-carbon;
        // Leave place for the input
        padding-top: 70px;
        @media (min-width: $grid-float-breakpoint) {
            height: calc(100vh - 80px);
            width: calc(100vw - 480px);
            top: 80px;
            left: 480px;
            padding-top: 0;
        }

        .explore-grid-bar {
            position: fixed;
            top: 130px;
            left: 0;
            right: 0;
            line-height: 50px;
            height: 60px;
            background: $gray-rock;
            padding: 0 15px;
            z-index: 2;
            @media (min-width: $grid-float-breakpoint) {
                position: relative;
                background: $gray-cloud;
                top: 0;
            }
            // the before element is used to hide the beneath list of cards
            &:before {
                content: '';
                display: block;
                position: fixed;
                top: 60px;
                left: 0;
                width: 100%;
                background: $gray-carbon;
                height: 70px;
                @media (min-width: $grid-float-breakpoint) {
                    display: none;
                }
            }

            .controls-bar {
                position: absolute;
                right: 15px;
                top: 10px;
                text-align: right;

                select, button, ul {
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    margin-left: 5px;
                }
            }
        }

        .explore-grid-container {
            @include make-row();
            padding: 60px 0 70px;
            height: 87.5vh;
            height: calc(100vh - 60px);
            overflow: auto;
            width: 100%;
            margin: 0;
            @media (min-width: $grid-float-breakpoint) {
                height: calc(100vh - 80px - 50px);
                width: calc(100vw - 480px);
                padding: 30px 10px 0;
            }

            .card-basic-container {
                float: left;
                width: 100%;
                @media (min-width: $screen-sm-min) {
                    width: 33.33333%;
                }
                @media (min-width: $grid-float-breakpoint) {
                    width: 50%;
                }
                @media (min-width: 1200px) {
                    width: calc(100% / 3);
                }
                @media (min-width: 1440px) {
                    width: 25%;
                }
                @media (min-width: 1680px) {
                    width: 20%;
                }
                @media (min-width: 1880px) {
                    width: calc(100% / 6);
                }
            }
        }
    }

    //STATE : search-container when the grid mode is on
    .search-container--grid-display {

        .close-search-panel {
            opacity: 0;
        }
    }

    .btn-search {
        @extend .center-block;
        margin-bottom: 10px;
    }

    .pagination {
        margin: 0 auto 10px;
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.view-company-explores {
    .input-group {
        .input-group-btn {
            .btn:hover,
            .btn:active {
                color: $secondary;
            }
        }
    }
}

//Remove print functionnality on deal explore
.view-deal-explores {
    .input-group {
        .input-group-btn {
            .btn:hover,
            .btn:active {
                color: $red;
            }
        }
    }

    .search-bloc {
        .search-panel-control {
            .btn-printer {
                display: none;
            }
        }

    }

    .btn-search {
        @extend .btn-deal;
    }
}

.js-lazyload-print {
    display: none;
}
