.company-info {
	.map-canvas {
		height: 335px;
		position: relative;
		display: none;
		@media (min-width: $screen-sm-min) {
			display: block;
		}

		&:after {
			content: "";
			width: calc(100% + 10px);
			height: 10px;
			position: absolute;
			bottom: 0;
			left: -10px;
			box-shadow: inset 0px -5px 7px rgba(174,174,174,.5);
		}
		.bloc-back-explore {
			position: absolute;
			top: 0;
			margin: 10px;
		}
		.leaflet-top {
			z-index: 0;
		}
	}
	.container {
		text-align: center;
		.container-inner {
			max-width: 940px;
			padding: 0;
			position: relative;
			margin-bottom: 50px;
			display: inline-block;
			text-align: left;
			@include make-row();
			width: 100%;
			@media (min-width: $screen-sm-min) {
				padding: 0 40px;
				margin-top: 50px;
			}
			.pictures-part {
				@include make-sm-column(6);
				padding: 0;
				@media (min-width: $screen-sm-min) {
					padding: 0 30px;
				}
				.image-viewer {
					width: 100%;
					@media (min-width: $grid-float-breakpoint) {
						width: 380px;
					}
					.carousel-big-part {
						width: 100%;
						@media (min-width: $grid-float-breakpoint) {
							width: 380px;
						}
					}
				}
			}
			.infos-part {
				padding: 0 20px;
				@include make-sm-column(6);
				@media (min-width: $screen-sm-min) {
					float: right;
					padding: 0 30px;
				}

				.title-content {
					height: auto;
				}

				.company-description,
				.company-contact,
				.company-deal-description {
					font-weight: 600;
				}

				.company-tags {
					padding-bottom: 10px;
					border-top: 1px solid $gray-cloud;
					border-bottom: 1px solid $gray-cloud;

					.badge {
						margin-top: 10px;
					}
				}

				.text-part {
					clear: right;
				}
			}
			.social-part {
				padding: 0 20px;
				@include make-sm-column(6);
				@media (min-width: $screen-sm-min) {
					padding: 0 30px;
				}
				.nav-tabs {
					border-bottom: 1px solid $gray-cloud;
					border-top: 1px solid $gray-cloud;
					margin-top: 40px;
					margin-bottom: 20px;
					text-align: center;
					.facebook-tab,
					.twitter-tab {
						margin-bottom: 0;
						display: inline-block;
						float: none;
						position: relative;
						@media (min-width: $screen-sm-min) {
							float: left;
						}
						a {
							border: none;
							color: $gray-rock;
							font-size: 18px;
							span {
								margin-right: 10px;
							}
						}
					}
					.facebook-tab {
						&.active {
							a {
								color: $gray-carbon;
								.basic-facebook {
									color: $facebook-color;
								}
							}
						}
					}
					.twitter-tab {
						&.active {
							a {
								color: $gray-carbon;
								.basic-twitter {
									color: $twitter-color;
								}
							}
						}
						&:before {
							content: "";
							width: 1px;
							height: 31px;
							top: 7px;
							background-color: $gray-cloud;
							position: absolute;
							left: -1px;
						}
					}
				}
				.tab-pane {
					text-align: center;
					width: 300px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}
