// View-explore
// ------------------------

.view-explore {
    .search-container {
        display: none;
    }
}

.explore-map-panel,
.input-mobile-map,
.explore-controls,
.loading-view {
    display: none !important;
}

.explore-grid-panel {
    width: 20cm;
    padding: 0;
    margin: auto;
    display: block !important;

    .explore-grid-panel_legend {
        border: 1px solid $gray-cloud;
        border-radius: 3px;
        margin: 0 20px 20px 20px;
        padding: 10px 10px 0 10px;
    }

    .explore-grid-bar {
        display: none !important;
    }

    .explore-grid-container {
        @include make-row();
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        margin: 0;
        border-top: 1px solid $gray-cloud !important;

        .card-basic-container {
            width: 100%;
            margin-bottom: 30px;
            page-break-inside: avoid;

            .card-basic {
                border-radius: 0;
                border: none !important;
                border-bottom: 1px solid $gray-cloud !important;
                width: 100%;
                padding-bottom: 20px;
                position: relative;

                .card-photo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 25%;
                    // background-color: $gray-cloud !important;
                    // -webkit-print-color-adjust: exact;
                    min-height: 100px;
                }

                .card-content {
                    padding-left: calc(25% + 20px);
                    position: relative;

                    .card-basic-title {
                        margin-left: 0;
                        margin-bottom: 5px;
                    }

                    .card-basic-address,
                    .card-basic-phone {
                        font-weight: 400;
                        color: $gray-rock !important;
                        font-size: 12px;
                        margin-bottom: 5px;
                    }

                    .card-basic-description {
                        font-weight: 400;
                        margin-left: 0;
                        margin-top: 10px;
                    }
                }

                .card-tags {
                    display: none;
                }
            }
        }
    }
}
