.company-info {
    .map-canvas {
        width: 50%;
        float: left;
        padding: 0 0.5cm;
        height: 12cm;
        position: relative;
        display: block;
        margin-bottom: 9cm;

        .map-leaflet {
            width: 100%;
		}
		.bloc-back-explore {
			display: none;
		}
	}
	.container {
		width: 50% !important;
		float: left;
		padding: 0 0.5cm;
		.container-inner {
			max-width: 940px;
			padding: 0;
			position: relative;
			margin-bottom: 50px;
			display: inline-block;
			text-align: left;
			@include make-row();
			width: 100%;
			.pictures-part {
				padding: 0;
				float: left;
				width: 100%;
				.image-viewer {
					width: 100%;
					.carousel-big-part {
						width: auto;
						height: 100px;
						text-align: left;
						img {
							height: 100%;
						}
					}
				}
			}
			.infos-part {
				float: left;
				width: 100%;
				.title-content {
                    height: auto;
                    padding-bottom: 10px;

                    .subtitle {
                        color: $gray-rock !important;
                        font-size: 12px;
                        display: block;
                        padding-top: 5px;
                        font-weight: 400;
                    }
                }

                .company-description,
                .company-contact,
                .company-deal-description {
                    font-weight: 400;
                    font-size: 12px;
                }

                h2 {
                    font-size: 17px;
                }

                .company-tags {
                    display: none;

                    .badge {
                        margin-top: 10px;
                    }
                }
            }
			.social-part {
				display: none;
			}
		}
	}
}
