// View-home
// ------------------------

.landing-infos {
    @include make-row();

    article {
        @include make-md-column(4);
        padding: 50px 20px 60px;
        text-align: center;
        height: auto;
        margin-bottom: 50px;
        position: relative;
        @media (min-width: $grid-float-breakpoint) {
            height: 700px;
            padding: 50px 20px 0;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

    .more {
        display: block;
        text-align: left;
        position: absolute;
        bottom: 20px;
        left: 15px;

        & + hr {
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            margin: 0;
        }
    }

    .card-teaser {
        .description {
            height: 70px;
            overflow: hidden;
        }
    }

    .result-panel {
        text-align: left;
        padding: 10px 5px 10px 30px;
        border: 0;
        border-top: 1px solid $gray-smoke;
        margin: 0;

        h2 {
            width: 100%;
            font-size: 14px !important;
            margin: 0 !important;
        }

        .infos {
            display: none;
        }
    }
}

.separator-with-word {
    &.landing-separator {
        margin: 30px auto;

        .word {
            color: $white;
        }

        &:before,
        &:after {
            background: rgba(255, 255, 255, 0.5);
            width: calc(50% - 90px);
        }
    }
}

.separator-with-icon {
    &.landing-separator {
        margin-bottom: 50px;

        i {
            color: $primary;
        }
    }
}

