// Imports
// -------------------------

@import "bootstrap-docs";
@import "~prismjs/themes/prism.css";

.highlight {
	code {
		display: block !important;
	}
}

pre {
	white-space: nowrap !important;
}

.card-example {
	.card-teaser-container {
		background-color: #FAFAFA;
	}
}
.bs-dark-background {
	&.bs-example {
		background-color:  #4B4B4D;
	}
}

.carousel-example-basic {
	.bs-example {
		padding-left: 0;
		padding-right: 0;
	}
}
