// Imports
// -------------------------

// Import Assets and Variables
@import "../../../custom-data/current/assets/variables";
@import "font";
@import "colors";
@import "custom-variables";
@import "override-variables";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "auto-complete";

// Import Utilities
@import "reset";
@import "mixins";

// Import Components
@import "header";
@import "footer";
@import "inputs";
@import "typo";
@import "buttons";
@import "map";
@import "carousel";
@import "slider-range";
@import "blocks";
@import "pagination";
@import "tooltip";

// Views
@import "view-explore";
@import "view-home";
@import "view-company-info";
@import "view-deal-info";

// Utilities
@import "utilities";

// Shame
@import "shame";

// Styles
// -------------------------

// Default Transition
section {
    @include container-fixed();
}

// Main properties
html,
body {
    // root font size for rem unit
    font-size: $font-size-base;
}

html,
a,
button {
    // see http://stackoverflow.com/questions/12238587/eliminate-300ms-delay-on-click-events-in-mobile-safari
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

//Remove print only components
.print-only {
    display: none;
}

//Misc
.separator-with-icon {
    position: relative;
    padding: 10px 0;

    &:before,
    &:after {
        content: "";
        display: block;
        width: calc(50% - 20px);
        height: 1px;
        background: $gray-carbon;
    }

    &:before {
        float: left;
    }

    &:after {
        float: right;
    }

    i {
        color: $gray-carbon;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
    }
}

.separator-with-word {
    position: relative;
    padding: 10px 0;

    &:before,
    &:after {
        content: "";
        display: block;
        width: calc(50% - 20px);
        height: 1px;
        background: $gray-carbon;
    }

    &:before {
        float: left;
    }

    &:after {
        float: right;
    }

    .word {
        color: $gray-carbon;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
    }
}

.page-control {
    color: $gray-rock;
    width: auto;
    display: none;
    font-size: 35px;
    height: 100%;
    position: absolute;
    top: 0;
    background: none;
    text-shadow: none;
    @include transition(all);
    @media (min-width: $screen-sm-min) {
        display: block;
    }

    &:hover,
    &:focus {
        color: darken($gray-rock, 10%);
    }

    &.left {
        text-align: left;
        left: 0;
    }

    &.right {
        text-align: right;
        right: 0;
    }

    .page-arrow {
        top: 160px;
        display: block;
        position: relative;
        @include transition(all);

        &:hover,
        &:focus {
            color: darken($gray-rock, 10%);
            outline: none;
        }
    }
}

.back-top {
    border: 2px solid $gray-rock;
    background: transparent;
    border-radius: 52px;
    transition: all 0.2s ease 0s;
    display: none;
    right: 25px;
    position: fixed;
    bottom: 65px;
    margin: 0px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;

    .basic-simply-up {
        font-size: 30px;
        line-height: 52px;
        color: $gray-rock;
    }

    &:hover {
        border-color: darken($gray-rock, 20%);

        .basic-simply-up {
            color: darken($gray-rock, 20%);
        }
    }
}

.js-lazyload {

    &[data-loaded] {
        animation-name: fade;
        animation-duration: 500ms;
    }
}

@keyframes fade {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
