// Imports
// -------------------------

// Import Assets and Variables
@import "../../../custom-data/current/assets/variables";
@import "font";
@import "colors";
@import "custom-variables";
@import "override-variables";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~leaflet/dist/leaflet.css";

// Import Utilities
@import "reset";
@import "mixins";

// Import Components
@import "typo";
@import "map";
@import "blocks";
//@import "carousel";

// Views
@import "view-explore-print";
@import "view-company-info-print";

* {
	transition: none!important
}

html {
	max-width: 20cm;
	width: 100%;
}

body {
	@include clearfix();
	&:after {
		display: block;
		margin: 0 0.5cm 10px;
		border-top: 1px solid #bbb;
		padding: 10px 0 0;
		font-style: italic;
		content: "Merci d'avoir imprimé ces résultats de votre monnaie locale. N'hésitez pas à revenir sur le site pour trouver les derniers adhérents !";
		width: 20cm;
	}
}

.print-only {
	display: block !important;
}

//remove link
a:after {
   content: "";
   display: none;
}

//prevent large elements from being split across multiple pages
ul, img {
   page-break-inside: avoid;
}

.c-header {
	.c-logo  {
		margin: 30px;
		.u-hide-down {
			display: none;
		}
	}
	.c-btn-badge--navbar {
		display: none;
	}
}

footer,
.back-top,
.tooltip {
	display: none !important;
}

//define margin for non firefox browser
@page {
	margin: 0.5cm;
}

//Card basic
.card-basic {
	height: auto;
	.card-content {
		height: auto;
		.card-basic-title {
			height: auto;
		}
		.card-basic-description {
			height: auto;
		}
	}
}

//leaflet
.leaflet-control-container {
	display: none;
}

