// Imports
// -------------------------

// Import Assets and Variables
@import "../../../custom-data/current/assets/variables";
@import "font";
@import "colors";
@import "custom-variables";
@import "override-variables";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

// Import Utilities
@import "reset";
@import "mixins";

// Import Components
@import "inputs";
@import "typo";
@import "buttons";
@import "map";
@import "slider-range";
@import "blocks";
@import "pagination";
@import "tooltip";

// Views
@import "view-explore-widget";

// Shame
@import "shame";

// Styles
// -------------------------

// Default Transition
section {
	@include container-fixed();
}

//Main properties
body {
	padding-top: 0;
}


