@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosis-medium.woff2') format('woff2'),
    url('../fonts/dosis-medium.woff') format('woff'),
    url('../fonts/dosis-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosis-bold.woff2') format('woff2'),
    url('../fonts/dosis-bold.woff') format('woff'),
    url('../fonts/dosis-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
