{% macro bloc_back_explore(route) %}
    <a href="{{ route(route, {init: true}) }}"
       class="bloc-back-explore"
       title="Accéder à la recherche d'un adhérent {{ config('somoney.money') }}">
        <h1 class="h3">Recherchez un adhérent {{ config('somoney.money') }}</h1>
        <p class="bloc-back_label">Quoi ? Où ?</p>
        <div class="bloc-back_input">
            <span class="bloc-back_input_placeholder">Ex: Boulangerie à proximité de Bouffay</span>
            <i class="basic-search"></i>
        </div>
    </a>
{% endmacro %}

{% macro hero_bloc() %}
    {% import "partials.macro.buttons" as buttons %}
    <div class="headband">
        <div class="container">
            <div class="row">
                <h1>La monnaie locale {{ config('somoney.occupant') }}</h1>
                <p class="lead">
                    Avec {{ config('somoney.money') }}, c'est encore plus simple de consommer local. Je découvre
                    l'annuaire et profite des bons plans !
                </p>
            </div>
            <div class="row">
                <div class="btn-group">
                    <div class="btn-container btn-container-left">
                        <a href="{{ route('companies.map') }}?target=PA&companies.map=1"
                           class="btn-default btn-public"
                           title="Découvrir les membres {{ config('somoney.money') }} s'adressant aux particuliers">
                            Je suis un particulier
                        </a>
                    </div>
                    <div class="btn-container btn-container-right">
                        <a href="{{ route('companies.map') }}?target=PR&companies.map=1"
                           class="btn-default btn-pro"
                           title="Découvrir les membres {{ config('somoney.money') }} s'adressant aux professionnels">
                            Je suis un professionnel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro company_result_panel(company) %}
    <a href="{{ company.url }}"
       title="Découvrir {{ company.name }}, membre de la {{ config('somoney.money') }}"
       class="result-panel result-panel--pro">
        <div class="row">
            <div class="col-picture">
                <div class="result-panel_picture js-lazyload"
                     data-background-image="{{ company.picture_map }}"></div>
            </div>
            <div class="col-description">
                <h2>
                    {{ company.name }}
                    {% if company.category.name is defined and company.category.name is not null %}
                        <span class="subtitle">( {{ company.category.name }} )</span>
                    {% endif %}
                </h2>
                <p class="result-panel_address">{{ company.address is not empty ? company.address ~ ', ' : '' }}{{ company.city }}
                    ({{ company.zipcode }})
                </p>
                <div class="result-panel_description">{{ company.description | raw | nl2br }}</div>
                <ul class="infos">
                    <li data-toggle="tooltip"
                        data-placement="top"
                        title="Paiement par virement accepté"
                        class="infos_item">
                        <i class="basic-virement"></i>
                    </li>
                </ul>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro deal_result_panel(deal) %}
    <a href="{{ route('deals.show', {company: deal.company_slug, deal: deal.slug}) }}"
       title="Découvrir le bon plan de {{ company.name }}, membre de la {{ config('somoney.money') }}"
       class="result-panel result-panel--red">
        <div class="row">
            <div class="col-picture">
                <div class="result-panel_picture js-lazyload"
                     data-background-image="{{ deal.company.getFirstMedia('illustrations').getUrl('map-left-card-preview') ?: deal.company.picture }}"></div>
            </div>

            <div class="col-description">
                <h2>{{ deal.company.name }} <span class="subtitle">({{ deal.company.category.name }})</span></h2>

                <p class="result-panel_address">
                    {{ deal.company.address is not empty ? deal.company.address ~ ', ' : '' }}
                    {{ deal.company.city }}
                    ({{ deal.company.zipcode }})
                </p>

                <div class="result-panel_description">{{ deal.description | raw | nl2br }}</div>

                <ul class="infos">
                    <li data-toggle="tooltip"
                        data-placement="top"
                        title="Paiement par virement accepté"
                        class="infos_item">
                        <i class="basic-virement"></i>
                    </li>
                    <li data-toggle="tooltip"
                        data-placement="top"
                        title="Paiement par carte {{ config('somoney.money') }} accepté"
                        class="infos_item">
                        <i class="basic-creditcard"></i>
                    </li>
                    <li data-toggle="tooltip"
                        data-placement="top"
                        title="Cet adhérent propose au moins un bon plan"
                        class="infos_item">
                        <i class="basic-thumbs"></i>
                    </li>
                </ul>
            </div>
        </div>
    </a>
{% endmacro %}

{% macro cards_basic(id, company, optionClass) %}
    <div class="card-basic-container">
        <div class="card-basic {{ optionClass }}" id="{{ id }}">
            <a href="{{ company.url }}"
               title="Découvrir {{ company.name }}, membre de la {{ config('somoney.money') }}">
                <div class="card-photo">
                    <div class="card-basic-picture js-lazyload"
                         data-background-image="{{ company.picture_grid }}"></div>
                    <noscript>
                        <img class="js-lazyload-noscript"
                             src="{{ company.picture_grid }}">
                    </noscript>
                </div>
                <div class="card-content">
                    <h3 class="card-basic-title">
                        {{ company.name }}
                        <span class="subtitle">({{ company.category }})</span>
                    </h3>
                    <p class="print-only card-basic-address">
                        {% if company.address is not empty %}
                            {{ company.address }}<br>
                        {% endif %}
                        {{ company.city }}
                        {{ company.zipcode }}
                    </p>
                    {% if company.phone is not empty %}
                        <p class="print-only card-basic-phone">{{ company.phone }}</p>
                    {% endif %}
                    <p class="card-basic-description small bold">
                        {{ company.description | raw | nl2br }}
                    </p>
                    <ul class="print-only infos">
                        <li class="infos_item">
                            <i class="basic-virement"></i>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </a>
            <div class="card-tags">
                {% if company.category %}
                    <button type="button" class="category-tag badge">
                        <i class="basic-tag"></i>{{ company.category }}</button>
                {% endif %}

                {% if company.keywords %}
                    {% for tag in company.keywords | split(',') %}
                        <button type="button" class="description-tag badge">
                            <i class="basic-tag"></i>{{ tag | capitalize }}
                        </button>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endmacro %}

{% macro cards_deal(id, deal, optionClass) %}
    <div class="card-basic-container">
        <div class="card-basic {{ optionClass }}" id="{{ id }}">
            <a href="{{ route('deals.show', {company: deal.company_slug, deal: deal.slug}) }}"
               title="Découvrir {{ company.name }}, membre de la {{ config('somoney.money') }}">
                <div class="card-photo">
                    <div class="card-basic-picture js-lazyload"
                         data-background-image="{{ deal.picture is empty ? deal.company.picture : deal.picture }}"></div>
                </div>
                <div class="card-content">
                    <h3 class="card-basic-title">
                        {{ deal.company.name }}
                        {% if deal.company.category is defined %}
                            <span class="subtitle">({{ deal.company.category.name }})</span>
                        {% endif %}
                    </h3>
                    <p class="card-basic-description small bold">
                        {{ deal.name }}
                    </p>
                </div>
                <div class="clearfix"></div>
            </a>
            <div class="card-tags">
                {% if deal.company.category | length %}
                    <button type="button" class="category-tag badge">
                        <i class="basic-tag"></i>{{ deal.company.category.name }}</button>
                {% endif %}

                {% for tag in deal.tags %}
                    <button type="button" class="description-tag badge"><i class="basic-tag"></i>{{ tag.name }}</button>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endmacro %}

{% macro cards_teaser(id, companies, optionClass, index) %}
    <div id="{{ id }}" class="carousel slide carousel-teaser{{ class }}" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#{{ id }}" data-slide-to="0" class="active"></li>
            <li data-target="#{{ id }}" data-slide-to="1"></li>
            <li data-target="#{{ id }}" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for company in companies %}
                <a href="{{ route('company', {company: company.slug}) }}">
                    <div class="item {% if loop.first %}active{% endif %}">
                        <div class="card-teaser">
                            <div class="card-photo">
                                <img src="{{ company.getFirstMedia('illustrations').getUrl('home-card-preview') ?: company.picture }}"
                                     alt="{{ company.name }}">
                            </div>
                            <div class="card-content">
                                <h2>{{ company.name }}</h2>
                                <p class="bold">
                                    {{ company.description | raw | nl2br }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro card_teaser_deal(id, deal, optionClass, index) %}
    <a id="{{ id }}"
       href="{{ route('deals.show', {company: deal.company_slug, deal: deal.slug}) }}"
       class="card-teaser {{ optionClass }}"
       title="Découvrir le bon plan de {{ deal.company.name }}, membre de la {{ config('somoney.money') }}">
        {% if deal.picture %}
            <div class="card-photo">
                <img src="{{ deal.picture }}" alt="photos de {{ deal.company.name }}">
            </div>
        {% endif %}
        <div class="card-content">
            <h2>{{ deal.name }}</h2>
            <p class="subtitle">{{ deal.company.name }}</p>
        </div>
    </a>
{% endmacro %}

<!-- Deal viewer -->
{% macro deal_viewer(id, deal, class) %}
    {% import "partials.macro.interactive" as interactive %}
    <div id="{{ id }}" class="slide deal-infos {{ class }}">
        <div class="deal-content">
            {% if deal.picture %}
                <div class="deal-part picture-part">
                    {{ interactive.carousel_image_viewer("imgViewer" ~ loop.index, deal.picture, deal.company.name) }}
                </div>
            {% endif %}

            <div class="deal-part text-part">
                <h2 class="title-content border deal-title">
                    <a href="{{ route('company', {company: deal.company_slug}) }}">{{ deal.company.name }}</a>
                </h2>

                <p class="deal-name">{{ deal.name }}</p>

                <p class="deal-description">{{ deal.description | raw | nl2br }}</p>

                {% if deal.start_in or deal.end_in %}
                    <p class="deal-peremption">{{ (deal.start_in ~ deal.end_in) | capitalize }}</p>
                {% endif %}

                <p class="deal-infos">
                    {{ deal.company.complete_address }}<br>

                    {% if deal.company.phone is not empty %}
                        {{ deal.company.phone }}<br>
                    {% endif %}

                    {% if deal.company.email is not empty %}
                        {{ deal.company.email }}<br>
                    {% endif %}

                    {% if deal.company.website is not empty %}
                        <a href="{{ deal.company.website }}"
                           class="company-website"
                           target="_blank"
                           title="Accéder au site de {{ company.name }}">{{ deal.company.website }}</a><br>
                    {% endif %}

                    {% if deal.company.deals | length > 1 %}
                        <br>
                        <a href="{{ route('company', {company: deal.company_slug}) }}"
                           class="company-website"
                           title="Voir les autres bons-plans de {{ deal.company.name }}">
                            Voir les autres bons-plans de {{ deal.company.name }}
                        </a>
                    {% endif %}
                </p>

                <div class="deal-tags">
                    {% if deal.category | length %}
                        <a href="{{ route('deals.map',{q: company.category.name, search: 1, init: true}) }}"
                           class="category-tag badge"
                           title="Voir tous les membres {{ config('somoney.money') }} dans la catégorie {{ deal.category.name }}">
                            <i class="basic-tag"></i>{{ deal.category.name | capitalize() }}
                        </a>
                    {% endif %}

                    {% for tag in deal.tags %}
                        <a href="{{ route('deals.map', {q: tag.name, search: 1, init: true}) }}"
                           class="description-tag badge"
                           title="Voir tous les membres {{ config('somoney.money') }} avec le mot-clé {{ tag.name }}">
                            <i class="basic-tag"></i>{{ tag.name | capitalize() }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

