{% macro button(optionClass, label, type, name, value, id) %}
    <button id="{{ id | default('btn-'~name) }}"
            type="{{ type | default('button') }}"
        {% if name | default(false) %}
            name="{{ name }}"
            value="{{ value | default(1) }}"
        {% endif %}
            class="btn btn-default {{ optionClass }}">{{ label }}</button>
{% endmacro %}

{% macro button_squared(pictoClass, type, tooltipText, optionClass) %}
    <button type="{{ type | default('button') }}"
            class="btn-squared {{ optionClass }}"
        {% if tooltipText %}
            data-toggle="tooltip"
            data-placement="top"
            title="{{ tooltipText }}"
        {% endif %} >
        <i class="{{ pictoClass }}"></i>
    </button>
{% endmacro %}

{% macro switch(firstTarget, secondTarget, versionClass) %}
    <ul class="switch nav nav-tabs {{ versionClass }}" role="tablist">
        <li class="switch-map {% if versionClass != 'switch-deal' %}active{% endif %}"
            title="Vue carte"
            data-toggle="tooltip"
            data-placement="top">
            <a class="switch-option switch-option--map"
               href="#{{ firstTarget }}"
               aria-controls="{{ firstTarget }}"
               role="tab"
               data-toggle="tab">
                <i class="basic-map"></i>
            </a>
        </li>
        <li class="switch-grid {% if versionClass == 'switch-deal' %}active{% endif %}"
            title="Vue grille"
            data-toggle="tooltip"
            data-placement="top">
            <a class="switch-option switch-option--grid"
               href="#{{ secondTarget }}"
               aria-controls="{{ secondTarget }}"
               role="tab"
               data-toggle="tab">
                <i class="basic-grid"></i>
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro tag(class) %}
    {% if class == "category-tag" %}
        <button type="button" class="category-tag badge"><i class="basic-tag"></i>Restaurants</button>
    {% elseif class == "description-tag" %}
        <button type="button" class="description-tag badge"><i class="basic-tag"></i>Burgers</button>
    {% endif %}
{% endmacro %}
