{% macro basic_input(label, name, placeholder, value, optionClass) %}
    <div class="form-group {{ optionClass }}">
        <label>{{ label }}</label>
        <input class="form-control" type="text" name="{{ value }}" value="{{ value }}" placeholder="{{ placeholder }}">
    </div>
{% endmacro %}

{% macro search_input(placeholder, value, optionClass) %}
    <div class="form-group">
        <label>Quoi ? Où ?</label>
        <div class="form-group {{ optionClass }}">
            <div class="input-group">
                <input value="{{ value }}"
                       type="search"
                       name="q"
                       placeholder="{{ placeholder }}"
                       class="form-control search-input_form-control">

                <span class="input-group-btn">
                    <button class="btn" type="submit" name="search" value="1"><i class="basic-search"></i></button>
                </span>

                <span class="input-group-btn input-reset {% if value | default("") is empty %} input--not-active {% endif %}">
                    <a class="btn" href="?reset"><i class="basic-cross"></i></a>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro basic_select(id, label, name, items, idField, nameField, selected, emptyLabel,optionClass) %}
    <div class="form-group {{ optionClass }}">
        <label for="{{ id }}">{{ label }}</label>
        <select id="{{ id }}" name="{{ name }}" class="form-control">
            <option value="">{{ emptyLabel | default('') }}</option>
            {% for item in items %}
                <option value="{{ item[idField] }}"
                        {% if item[idField] == selected | default('') %}selected="selected"{% endif %}>{{ item[nameField] }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro small_select(label, optionClass) %}
    <select class="form-control-small {{ optionClass }}">
        <option value="0">{{ label }}</option>
        <option value="1">Ordre croissant</option>
        <option value="2">Ordre décroissant</option>
    </select>
{% endmacro %}

{% macro radio_input(placeholder, name, checked) %}
    <div class="form-group">
        <label class="toggle">
            <input class="toggle-checkbox"
                   type="checkbox"
                   value="1"
                   name="{{ name }}" {{ checked ? 'checked="checked"' : '' }}>
            <span class="toggle-switch"></span>
            <span class="toggle-label">{{ placeholder }}</span>
        </label>
    </div>
{% endmacro %}

{% macro slider_range(id, start_val, stop_val, optionClass) %}
    <div class="form-group">
        <div class="slider-range-container">
            <div id="{{ id }}"
                 data-start-val="{{ start_val | default(0) }}"
                 data-stop-val="{{ stop_val | default(50) }}"
                 class="slider-range {{ optionClass }}"></div>
        </div>
    </div>
{% endmacro %}

