{% macro pagination(theme, category, results) %}
    <ul class="pagination pagination--{{ theme }} pagination--{{ category }}">
        <li>
            <a href="#" aria-label="Previous">
                <i class="basic-simply-left"></i>
            </a>
        </li>
        <li>
            <a href="#">1</a>
        </li>
        <li class="active">
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#" aria-label="Next">
                <i class="basic-simply-right"></i>
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro map(type, center, zoom) %}
    <div class="map-leaflet {% if type == 'deals' %}deals{% else %}companies{% endif %}"
         data-zoom="{{ zoom }}"
         data-center="{{ center | json_encode }}"></div>
{% endmacro %}

{% macro badge_with_tooltip(optionClass) %}
    <img class="badge_pioneer {{ optionClass }}"
         src="{{ asset('/assets/img/pioneer.png') }}"
         alt="badge pionnier"
         data-toggle="tooltip"
         data-placement="bottom"
         title="Cet adhérent est un précurseur {{ config('somoney.money') }}">
{% endmacro %}

<!-- Deal Slider on landing page -->
{% macro carousel_deal_landing(id, deals, class) %}
    <div id="{{ id }}" class="carousel slide {{ class }}" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#{{ id }}" data-slide-to="0" class="active"></li>
            <li data-target="#{{ id }}" data-slide-to="1"></li>
            <li data-target="#{{ id }}" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for deal in deals %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <div class="carousel-part picture-part">
                        <a href="{{ route('deals.show', {company: deal.company_slug, deal: deal.slug}) }}"
                           title="Découvrir le bon plan de {{ company.business_name }}, membre de la {{ config('somoney.money') }}">
                            <img src="{{ deal.company.pictures[0] }}"
                                 alt="photos de {{ deal.company.business_name }}"
                                 class="carousel-picture">
                        </a>
                    </div>
                    <div class="carousel-part text-part">
                        <h2>{{ deal.title }}</h2>
                        <p class="subtitle">{{ deal.company.business_name }}</p>
                        <p class="bold landing-deal-description">{{ deal.description | raw | nl2br }}</p>
                        <a class="other-deals"
                           href="{{ route('deals.map',{init: true}) }}"
                           title="Découvrir les bons plans de {{ company.business_name }}, membre de la {{ config('somoney.money') }}">
                            Voir tous les bons plans
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<!-- Image viewer -->
{% macro carousel_image_viewer(id, pictures, alt, class) %}
    <div id="{{ id }}" class="carousel slide image-viewer {{ class }}" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        {% if pictures is iterable and pictures|length > 1 %}
            <ol class="carousel-indicators">
                {% if pictures is iterable %}
                    {% for picture in pictures %}
                        <li data-target="#{{ id }}"
                            data-slide-to="{{ loop.index - 1 }}"
                            class="{% if loop.first %}active{% endif %} indicator-container">
                            <img src="{{ picture }}"
                                 alt="{{ alt }}"
                                 class="image-indicator hidden-xs">
                        </li>
                    {% endfor %}
                {% else %}
                    <li data-target="#{{ id }}" class="active indicator-container">
                        <img src="{{ picture }}"
                             alt="{{ alt }}"
                             class="image-indicator hidden-xs">
                    </li>
                {% endif %}
            </ol>
        {% endif %}
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% if pictures is iterable %}
                {% for picture in pictures %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <div class="carousel-big-part picture-part">
                            <img src="{{ picture }}" alt="{{ alt }}" class="carousel-picture">
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="item active">
                    <div class="carousel-big-part picture-part">
                        <img src="{{ pictures }}" alt="{{ alt }}" class="carousel-picture">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
