{% macro  separator_with_icon(icon, optionClass) %}
<div class="separator-with-icon {{ optionClass }}">
	<i class="{{ icon }}"></i>
</div>
{% endmacro %}

{% macro  separator_with_word(word, optionClass) %}
<div class="separator-with-word {{ optionClass }}">
	<span class="word">{{ word }}</span>
</div>
{% endmacro %}
