{% import "partials.macro.blocks" as blocks %}

{% extends 'layout.explore' %}

{% set title = config('somoney.money')~" - Trouvez les bons plans de la monnaie locale" %}
{% set description = "Bénéficiez de réductions et d'offres spéciales auprès des membres de la "~config('somoney.money')~" - Trouvez tous les bons plans dans les environs de "~config('somoney.region')~"." %}
{% set context = 'deals' %}
{% set form_route = route('deals.grid') %}
{% set panel_title = 'Recherchez un bon plan' %}
{% set mode = 'grid' %}

{% block explore_grid %}
    <div class="explore-grid-container">
        <div class="explore-grid-list">
            {% for deal in deals %}
                {{ blocks.cards_deal("card-basic-" ~ deal.id , deal, "deal-basic-card") }}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
