{% import "partials.macro.blocks" as blocks %}

{% extends 'layout.explore' %}

{% set title = config('somoney.money')~" - Trouvez les bons plans de la monnaie locale" %}
{% set description = "Bénéficiez de réductions et d'offres spéciales auprès des membres de la "~config('somoney.money')~" - Trouvez tous les bons plans dans les environs de "~config('somoney.region')~"." %}
{% set context='deals' %}
{% set form_route = route('deals.map') %}
{% set panel_title = 'Recherchez un bon plan' %}
{% set mode = 'map' %}

{% block results_list %}
    <div class="results-list">
        {% for deal in deals %}
            {{ blocks.deal_result_panel(deal) }}
        {% endfor %}
    </div>
{% endblock %}
