{% import "partials.macro.interactive" as interactive %}
{% import "partials.macro.blocks" as blocks %}

{% extends 'layout.main' %}

{% set title = company.name~" vous réserve un bon plan "~config('somoney.money') %}
{% set description = company.name~" réserve un bon plan aux membres de la monnaie local "~config('somoney.money')~" : "~deal.name %}

{% block content %}
    <div class="deal-infos-container">
        <div class="map-canvas">
            <script>
                var resultsData = [{{ deal | json_encode | raw }}];
            </script>
            {{ interactive.map('deals', deal.company.location, config('somoney.map.zoom')) }}
            {{ blocks.bloc_back_explore('deals.map') }}
        </div>
        <div class="container">
            {{ blocks.deal_viewer("infos-content", deal) }}
        </div>
    </div>
{% endblock %}
