{% import "partials.macro.blocks" as blocks %}

{% extends 'layout.explore' %}

{% set title = config('somoney.money')~" - Annuaire des membres de la monnaie locale" %}
{% set description = "Découvrez l'ensemble des entreprises acceptant la monnaie locale comme moyen de paiement." %}
{% set context = 'companies' %}
{% set form_route = route('companies.grid') %}
{% set panel_title = 'Que cherchez-vous ?' %}
{% set mode = 'grid' %}

{% block explore_grid %}
    <div class="explore-grid-container">
        <div class="explore-grid-list">
            {% for company in companies %}
                {{ blocks.cards_basic("card-basic-" ~ company.id , company, "company-basic-card") }}
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
