{% import "partials.macro.blocks" as blocks %}

{% extends 'layout.explore' %}

{% set title = config('somoney.money')~" - Annuaire des membres de la monnaie locale" %}
{% set description = "Découvrez l'ensemble des entreprises acceptant la monnaie locale comme moyen de paiement." %}
{% set context = 'companies' %}
{% set form_route = route('companies.map') %}
{% set panel_title = 'Que cherchez-vous ?' %}
{% set mode = 'map' %}

{% block results_list %}
    <div class="results-list">
        {% for company in companies %}
            {{ blocks.company_result_panel(company) }}
        {% endfor %}
    </div>
{% endblock %}
