{% import "partials.macro.interactive" as interactive %}
{% import "partials.macro.blocks" as blocks %}

{% extends 'layout.main' %}

{% set title = company.name~" - membre de "~config('somoney.money') %}
{% set description = company.name~" est membre de la monnaie locale "~config('somoney.occupant')~" : découvrez ce membre et ses bons plans sur l'annuaire "~config('somoney.money') %}

{% block content %}
    <div class="company-info">
        <div class="map-canvas">
            <script>
                var resultsData = [{{ company | json_encode | raw }}];
            </script>
            {{ interactive.map('companies', company.location, config('somoney.map.zoom')) }}
            {{ blocks.bloc_back_explore('companies.map') }}
        </div>
        <div class="container">
            <div class="container-inner">
                <div class="pictures-part">
                    {{ interactive.carousel_image_viewer(
                        "company-pictures",
                        company.getFirstMedia('illustrations').getUrl('grid-card-preview') ?: company.picture,
                        company.name
                    ) }}
                </div>
                <div class="infos-part">
                    <div class="text-part">
                        <h2 class="title-content border">
                            {{ company.name }} <span class="subtitle">({{ company.category.name }})</span>
                        </h2>
                        <p class="company-description">{{ company.description | raw | nl2br }}</p>
                        {% if company.active_deals is not empty %}
                            <h2 class="title-content border">Bons plans</h2>
                            {% for deal in company.active_deals %}
                                <p class="company-deal-description">{{ deal.name }}</p>
                                <p>
                                    <a href="{{ route('deals.show', {company: company.slug, deal: deal.slug}) }}">
                                        En savoir plus
                                        ...
                                    </a>
                                </p>
                            {% endfor %}
                        {% endif %}
                        <h2 class="title-content border">Contact</h2>
                        <p class="company-contact">
                            {{ company.complete_address }}<br>
                            {% if company.phone is not empty %}
                                {{ company.phone }}<br>
                            {% endif %}
                            {% if company.email is not empty %}
                                {{ company.email }}<br>
                            {% endif %}
                            {% if company.website is not empty %}
                                <a href="{{ company.website }}"
                                   target="_blank"
                                   title="Accéder au site de {{ company.website }}">{{ company.website }}</a><br>
                            {% endif %}
                        </p>
                        <div class="company-tags">
                            {% if company.category is not empty %}
                                <a href="{{ route('companies.map', {category_slug: company.category.slug, search: 1, init: true}) }}"
                                   class="category-tag badge">
                                    <i class="{{ config('somoney.categories.icons.'~company.category.slug) | default('basic-tag') }}"></i>{{ company.category.name }}
                                </a>
                            {% endif %}
                            {% if company.keywords is not empty %}
                                {% for tag in company.keywords|split(',') %}
                                    <a href="{{ route('companies.map', {q: (tag | capitalize), search: 1, init: true}) }}"
                                       class="description-tag badge">
                                        <i class="basic-tag"></i>{{ tag | capitalize }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if company.facebook is not empty or company.twitter is not empty %}
                    <div class="social-part">
                        <!--Social nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% if company.facebook is not empty %}
                                <li role="presentation" class="active facebook-tab">
                                    <a href="#facebook-pane" role="tab" data-toggle="tab">
                                        <span class="basic-facebook"></span>Facebook
                                    </a>
                                </li>
                            {% endif %}
                            {% if company.twitter is not empty %}
                                <li role="presentation" class="twitter-tab">
                                    <a href="#twitter-pane" role="tab" data-toggle="tab">
                                        <span class="basic-twitter"></span>Twitter
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% if company.facebook is not empty %}
                                <div role="tabpanel" class="tab-pane active" id="facebook-pane">
                                    <div class="fb-page"
                                         data-href="{{ company.facebook }}"
                                         data-small-header="false"
                                         data-adapt-container-width="true"
                                         data-hide-cover="true"
                                         data-show-facepile="false"
                                         data-width="300"
                                         data-show-posts="true"
                                         data-hide-ctabisous="true">
                                        <div class="fb-xfbml-parse-ignore">
                                            <blockquote cite="{{ company.facebook }}">
                                                <a href="{{ company.facebook }}">{{ company.business_name }}</a>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if company.twitter is not empty %}
                                <div role="tabpanel" class="tab-pane" id="twitter-pane">
                                    <a class="twitter-timeline"
                                       href="{{ company.twitter }}"
                                       data-screen-name="{{ company.twitter_tag }}"
                                       data-link-color="#00a3b4"
                                       width="300">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
