{% extends 'layout.main' %}

{% block content %}
    <h1 class="title-content text-center">SoMoney - Styleguide</h1><br>

    {% include 'partials.typo' %}
    <br>
    {% include 'partials.inputs' %}
    <br>
    {% include 'partials.buttons' %}
    <br>
    {% include 'partials.misc' %}
    <br>
    {% include 'partials.interactive' %}
    <br>
    {% include 'partials.carousel' %}
    <br>
    {% include 'partials.blocks-cards' %}
    <br>
{% endblock %}

{% block custom_head_assets %}
    <link rel="stylesheet" href="{{ mix('assets/css/somoney-annuaire-docs.css') }}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ mix('assets/css/somoney-annuaire-main.css') }}" media="screen" charset="utf-8">
    <!--[if lte IE 9 ]>
    <script src="{{ mix('assets/js/somoney-annuaire-ie-support.js') }}"></script>
    <![endif]-->
{% endblock %}
