{% extends 'layout.main' %}

{% set title = 'Les widgets '~config('somoney.money')~' - Documentation' %}

{% block content %}
    <div class="container">
        <h2>Comment intégrer les différents widgets {{ config('somoney.money') }}</h2>

        <p>
            {{ config('somoney.money') }} vous propose 2 types de widgets pouvant être intégrés sur votre site, avec
                                          pour chacun plusieurs configurations disponibles.
        </p>

        <h3>Le badge</h3>

        <p>Le badge vient se placer à droite ou à gauche de votre site, au dessus de tout contenu.</p>

        <p>Pour l'intégrer sur votre site, le code suivant doit être ajouté avant la balise <code>&lt;/body&gt;</code>,
           en remplaçant <code>[CLE_API]</code> par la clé API fournie par {{ config('somoney.money') }} :
        </p>

        <code>
            &lt;script src="{{ asset('/assets/js/somoney-annuaire-badge.js') }}"&gt;&lt;/script&gt;<br>
            &lt;a href="{{ route('home') }}" id="SoMoneyBadge" data-api-key="[CLE_API]"&gt;&lt;/a&gt;
        </code>

        <p>Différentes options sont ensuite disponible. L'utilisation d'une option se fait via l'ajout d'attributs HTML
            <code>data-*</code>.
        </p>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Attribut HTML</th>
                    <th>Valeurs</th>
                    <th>Effet</th>
                    <th>Valeur par défaut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>data-type</td>
                    <td>large | medium | small</td>
                    <td>Modifie le type de widget utilisé</td>
                    <td>medium</td>
                </tr>
                <tr>
                    <td>data-position</td>
                    <td>right | left</td>
                    <td>Modifie le côté auquel le widget est ancré</td>
                    <td>left</td>
                </tr>
                <tr>
                    <td>data-width</td>
                    <td>entier</td>
                    <td>Modifie la largeur du widget (en pixels)</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>data-top</td>
                    <td>entier</td>
                    <td>Modifie la distance depuis le haut de la page (en pixels)</td>
                    <td>200</td>
                </tr>
            </tbody>
        </table>

        <h3>La carte</h3>

        <p>
            L'intégration de la carte {{ config('somoney.money') }} se fait très simplement, via l'utilisation d'une
            iframe.
        </p>

        <code>&lt;iframe src="{{ route('widget.map') }}" frameborder="0"&gt;&lt;/iframe&gt;</code>

        <p>
            Vous pouvez par la suite personnaliser les éléments apparaissant sur la carte en utilisant les paramètres
            GET de l'URL de l'iframe :
        </p>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Valeurs</th>
                    <th>Effet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>q</code></td>
                    <td>Chaîne de caractères</td>
                    <td>Valeur de la recherche textuelle</td>
                </tr>
                <tr>
                    <td><code>target</code></td>
                    <td>PR | PA | PAPR</td>
                    <td>Cibles du membre (professionnels, particuliers ou les deux)</td>
                </tr>
                <tr>
                    <td><code>category_id</code></td>
                    <td>Entier</td>
                    <td>Catégorie du membre</td>
                </tr>
                <tr>
                    <td><code>payment_card</code></td>
                    <td>Booléen</td>
                    <td>Détermine si le membre accepte la carte {{ config('somoney.money') }}</td>
                </tr>
                <tr>
                    <td><code>has_deals</code></td>
                    <td>Booléen</td>
                    <td>Le membre a des bons plans</td>
                </tr>
                <tr>
                    <td><code>enableSearch</code></td>
                    <td>Booléen</td>
                    <td>Afficher la recherche</td>
                </tr>
                <tr>
                    <td><code>city</code></td>
                    <td>Chaîne de caractères</td>
                    <td>Ville de recherche</td>
                </tr>
                <tr>
                    <td><code>lat</code></td>
                    <td>Nombre</td>
                    <td>Latitude de centrage</td>
                </tr>
                <tr>
                    <td><code>lon</code></td>
                    <td>Nombre</td>
                    <td>Longitude de centrage</td>
                </tr>
                <tr>
                    <td><code>zoom</code></td>
                    <td>Nombre entre 1 et 20</td>
                    <td>Zoom de la carte</td>
                </tr>
            </tbody>
        </table>

        <p>Par exemple, le code suivant :</p>

        <code>
            &lt;iframe src="{{ route('widget.map') }}?q=boulangerie" style="width: 100%; height:
            300px;" frameborder="0"&gt;&lt;/iframe&gt;
        </code>

        <p>Affiche cette iframe :</p>

        <iframe src="{{ route('widget.map') }}?q=boulangerie"
                style="width: 100%; height: 500px;"
                frameborder="0"></iframe>
    </div>
{% endblock %}
